.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
    border-color: #ccc;
    background: #f5f5f5;
    box-shadow: none;
    color: #888
}

.number-plus-minus {
    display: inline-block;
}

.jq-number {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 36px 0 0;
    border: 1px solid #ccc;
    background-color: #ededed;
}

.jq-number__field {
    text-align: center;
    width: 100px;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1)
}

.jq-number__field:hover,
input[type=email].styler:hover,
input[type=password].styler:hover,
input[type=search].styler:hover,
input[type=tel].styler:hover,
input[type=text].styler:hover,
input[type=url].styler:hover,
textarea.styler:hover {
    border-color: #b3b3b3
}

.jq-number__field input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 9px;
    border: 0;
    outline: 0;
    background: 0 0;
    font: 14px Arial, sans-serif;
    color: #333;
    text-align: left;
    -moz-appearance: textfield
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 14px;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    background: #f5f5f5;
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    background: linear-gradient(#fff, #e6e6e6);
    box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 1px 1px #fff;
    cursor: pointer
}

.jq-number__spin.minus {
    top: auto;
    bottom: 0
}

.jq-number__spin:hover {
    background: #e6e6e6;
    background: -webkit-linear-gradient(#f6f6f6, #e6e6e6);
    background: linear-gradient(#f6f6f6, #e6e6e6)
}

.jq-number__spin:active {
    background: #f5f5f5;
    box-shadow: inset 1px 1px 3px #ddd
}

.jq-number__spin.minus:after,
.jq-number__spin:after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent
}

.jq-number__spin:after {
    content: '';
    position: absolute;
    left: 11px;
    width: 0;
    height: 0;
    top: 4px;
    border-bottom: 5px solid #999
}

.jq-number__spin.minus:after {
    top: 5px;
    border-top: 5px solid #999;
    border-bottom: none
}

.jq-number__spin.minus:hover:after {
    border-top-color: #000
}

.jq-number__spin.plus:hover:after {
    border-bottom-color: #000
}

.jq-number.disabled .jq-number__spin:after {
    border-bottom-color: #aaa
}

.jq-number.disabled .jq-number__spin.minus:after {
    border-top-color: #aaa
}

.jq-number {
    padding: 0;
    border-radius: 4px;
}

.number-plus-minus .jq-number__field {
    width: 115px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.number-plus-minus .jq-number__field input {
    text-align: center;
    height: 31px !important;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
}

.number-plus-minus .jq-number__spin {
    left: 0;
    height: 43px;
    width: 38px;
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 5;
    top: -1px;
}

.number-plus-minus .jq-number__spin.plus {
    right: 0;
    left: auto;
}

.number-plus-minus .jq-number__spin:before {
    content: '';
    position: absolute;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: -webkit-calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 2px;
    border: none;
    background: #fff;
}

.number-plus-minus .jq-number__spin.minus:after {
    display: none;
}

.number-plus-minus .jq-number__spin.plus:after {
    top: -webkit-calc(50% - 5px);
    top: calc(50% - 5px);
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
    height: 10px;
    border: none;
    background: #fff;
}

.number-plus-minus .jq-number__spin:hover:before,
.number-plus-minus .jq-number__spin.plus:hover:after {
    background: rgba(255, 255, 255, 0.8);
}

.number-plus-minus_rounded .jq-number__field input {
    border-radius: 20px;
}

.number-plus-minus_rounded .jq-number__field input.parsley-error {
    color: #f00;
}

.number-plus-minus_light .jq-number__field input {
    width: calc(100% - 74px);
    color: #000;
}

.number-plus-minus_light .jq-number__field input.parsley-error {
    color: #f00;
}

.number-plus-minus_light .jq-number__spin:before {
    background: #939191;
}

.number-plus-minus_light .jq-number__spin.plus:after {
    background: #939191;
}

.number-plus-minus_light .jq-number__spin:hover:before,
.number-plus-minus_light .jq-number__spin.plus:hover:after {
    background: #000;
}

.number-plus-minus .prsError {
    position: absolute;
    top: -webkit-calc(100% + 8px);
    top: calc(100% + 8px);
    line-height: 1.3;
    font-size: 12px;
}


.black_bg {
    padding: 50px;
    background-color: #000;
}

.white_bg {
    padding: 50px;
    background-color: #dfdfdf;
}