
/***************************
        SW slider
***************************/



.sw_container {
    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    display: flex;
    img {
        max-width: 100%;
    }
}

.sw_container .pageSwiperThumbed {
    width: 80%;
    order: 2;
}

.sw_container .pageSwiperThumbs {
    display: block;
    width: 20%;
    height: 100%;
    padding-right: 15px;
}

.sw_container .swiper-wrapper {
    /* display: block; */

}

.sw_container .pageSwiperThumbs .swiper-slide {
    width: 100%;
}
.zoom_btn {
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 13px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.3);
    use {
        fill: transparent;
        stroke: black;
    }

    &:hover {
        background-color: rgba(255,255,255,.5);
    }
}

.sw_container .swiper-container {
    height: 500px;
}

.sw_container .swiper-slide {
    margin: 0;
    overflow: hidden;
}

// ._baguette_gal a {

// }

.sw_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.pageSwiperThumbs.swiper-container .swiper-wrapper {
    height: 100%;
    padding-right: 20px;
}

.pageSwiperThumbs.swiper-container .swiper-slide {
    width: 100%;
    margin: 0;
    height: 25%;
    overflow: hidden;
}

.swiper-container_wrap {
    display: flex;
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.swiper-container {
    width: 100%;
    height: 700px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    width: 80%;
    height: 100%;
}

.gallery-thumbs {
    width: 20%;
    box-sizing: border-box;
    padding: 0;
    margin-right: 10px;
}

.pageSwiperThumbs .swiper-slide,
.gallery-thumbs .swiper-slide {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 3px;
}

.pageSwiperThumbs .swiper-slide-thumb-active,
.gallery-thumbs .swiper-slide-thumb-active {
    border-color: rgb(47, 117, 236);      
}


.parent {
    background-color: #ccc;
    width: 100%;
    margin: 50px auto;
}

.zoomed {}

.zoomed a {}

.zoomed img {}

.gallery_parent {
    overflow: hidden;
    width: 100%;
}

.gallery {
    display: flex;
}

.gallery__item {}

.gallery__item+.gallery__item {
    margin-left: 15px;
}

.gallery__item a {}

.gallery__item img {}

@media screen and (max-width: 768px), screen and (min-width: 992px) and (max-width: 1366px) {
    .swiper-container_wrap {
        flex-wrap: wrap;
    }

    .gallery-top {
        width: 100%;
        height: 80%;
    }

    .gallery-thumbs {
        order: 2;
        width: 100%;
        height: 20%;
        margin-top: 10px;
        margin-right: 0;
    }

    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
    }
    .sw_container .pageSwiperThumbed {
        width: 100%;
        height: 80%;
        order: 1;
        margin-bottom: 10px;
    }
    
    .sw_container a {
        // height: 100%;
    }
    
    .sw_container {
        height: 500px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .sw_container .pageSwiperThumbs {
        display: block;
        width: 100%;
        height: 100px;
        padding-right: 0;
        order: 2;
    }

    .pageSwiperThumbs.swiper-container .swiper-wrapper {
        width: 100%;
        height: 100px;
    }

    .sw_container.pageSwiperThumbed .swiper-container {
        height: 300px;
    }
    .sw_container.pageSwiperThumbs img,
    .pageSwiperThumbs.swiper-container .swiper-slide,
    .sw_container.pageSwiperThumbs .swiper-container {
        height: 100px;
    }
}

.swiper-button-prev {
    svg {
        transform: rotate(-180deg);
    }
}

.swiper-button-prev,
.swiper-button-next {
    background: none;
    background-color: rgba(255,255,255,.3);
    border-radius: 3px;
    width: 47px;
    height: 65px;
    line-height: 74px;
    text-align: center;
    &:hover {
        background-color: rgba(255,255,255,.5);
    }
    use {
        fill: transparent;
        stroke: black;
    }
}