<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Page Title</title>

<style>
    .main-svg-sprite {
        display: none;
    }
</style>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/nouislider.css">
<link rel="stylesheet" href="css/perfect-scrollbar.css">
<link rel="stylesheet" href="css/baguetteBox.css" />
<link rel="stylesheet" href="css/swiper.min.css" />
<link rel="stylesheet" href="css/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans:400,600,700&amp;subset=cyrillic-ext" rel="stylesheet">