<div class="d-none d-lg-block preheader container text-right">
    <div class="row">
        <div class="col-12">
            <span class="pr-sm-3">
                Ваш город: 
                <a href="#a" class="iconized btn btn-blank">
                    <span class="iconized__text">Ташкент</span>
                    <span class="icon"><svg class="svg-icon__link" width="10" height="7">
                            <use xlink:href="#icon_arrow_bottom" /></svg></span>
                </a>
            </span>
            <span>
                Язык: 
                <a href="#a" class="iconized btn btn-blank">
                    <span class="iconized__text">Русский</span>
                    <span class="icon"><svg class="svg-icon__link" width="10" height="7">
                            <use xlink:href="#icon_arrow_bottom" /></svg></span>
                </a>
            </span>
            {{!-- <a href="#a" class="iconized btn btn-semiBlank">
                <span class="icon"><svg class="svg-icon__link" width="21" height="18">
                        <use xlink:href="#icon_location" /></svg></span>
                <span>Ташкент</span>
            </a> --}}
            {{!-- <a href="#a" class="iconized btn btn-semiBlank header_nav__favourites">
                <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19" height="18"
                        viewBox="0 0 19 18">
                        <use xlink:href="#icon_heart" />
                    </svg> </span>
                <span class="iconized__text">Избранное</span>
            </a> --}}
            {{!-- <a href="#a" class="iconized btn btn-semiBlank header_nav__lang">
                <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19" height="19"
                        viewBox="0 0 19 19">
                        <use xlink:href="#icon_world" />
                    </svg> </span>
                <span class="iconized__text">Русский</span>
            </a> --}}
        </div>
    </div>
</div>
<div class="pageHeader">
    <div class="head_nav container">
        <div class="row">
            <div class="col-12 head_nav__container">
                <div class="d-lg-none popupNavTrigger_parent head_nav__item">
                    <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>

                    <div class="hamburger" id="hamburger-1" role="button"></div>
                </div>
                <a href="#a" title="Concept" class="head_nav__item logo">
                    <img src="images/logo.png" alt="Concept">
                </a>
                <div class="head_nav__item site_nav d-none d-lg-block">
                    <a href="#a" class="menuTrig iconized _menuTrig d-none d-md-block btn" id="dLabel"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="icon text-center">
                            <svg class="svg-icon__link burgerIcon" preserveAspectRatio="xMidYMid" width="19" height="11"
                                viewBox="0 0 19 11">
                                <use xlink:href="#icon_burger" />
                            </svg>
                            <svg class="svg-icon__link closeIcon" preserveAspectRatio="xMidYMid" width="19" height="11"
                                viewBox="0 0 19 11">
                                <use xlink:href="#icon_close" />
                            </svg>
                        </span>
                        <span class="pl-2">Все категории</span>
                    </a>
                    <div class="dropdown-menu dropM" aria-labelledby="dLabel">
                        <!-- <div class="dropdown-menu dropM show" aria-labelledby="dLabel" x-placement="bottom-start" style="position: absolute; transform: translate3d(-5px, 180px, 0px); top: 0px; left: 0px; will-change: transform;"> -->
                        <div class="container keepopen">
                            <div class="row align-items-start">
                                <div class="d-none d-md-block col-md-5 col-lg-4 col-xlg-2 main_categories_wrap_left">
                                    <ul class="main_categories list-unstyled">
                                        <li class="level2 active">
                                            <a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="19">
                                                        <use xlink:href="#icon_electronics"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Электроника</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a>


                                            <div class="main_categories_wrap_right _scrollable_content _scrollable_content0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="h1" data-toggle="collapse" data-target="#el_id_1">Электроника</div>
                                                    </div>
                                                </div>
                                                <div class="row" id="el_id_1">
                                                    <div class="col-sm-6 col-lg-4">
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Телефоны</a></li>
                                                            <li><a href="#a">Мобильные телефоны</a></li>
                                                            <li><a href="#a">Умные часы и браслеты</a></li>
                                                            <li><a href="#a">Аксессуары для телефонов</a></li>
                                                            <li><a href="#a">Чехлы</a></li>
                                                            <li><a href="#a">Защитные пленки и стекла</a></li>
                                                        </ul>
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Портативная техника</a></li>
                                                            <li><a href="#a">Наушники и Bluetooth-гарнитуры</a></li>
                                                            <li><a href="#a">Портативная акустика</a></li>
                                                            <li><a href="#a">Очки виртуальной реальности</a></li>
                                                            <li><a href="#a">Планшеты</a></li>
                                                            <li><a href="#a">Квадрокоптеры</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-4">
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Аудио-Видео Техника</a></li>
                                                            <li><a href="#a">Телевизоры</a></li>
                                                            <li><a href="#a">Аудиотехника</a></li>
                                                            <li><a href="#a">TV-тюнеры</a></li>
                                                            <li><a href="#a">Стационарные медиаплееры</a></li>
                                                            <li><a href="#a">Мультимедиа-проекторы</a></li>
                                                        </ul>
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Фото-Видеокамеры</a></li>
                                                            <li><a href="#a">Фотоаппараты</a></li>
                                                            <li><a href="#a">Объективы</a></li>
                                                            <li><a href="#a">Экшн-камеры</a></li>
                                                            <li><a href="#a">Видеокамеры</a></li>
                                                            <li><a href="#a">Квадрокоптеры с камерой</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="19">
                                                        <use xlink:href="#icon_earphones"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Аксессуары</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a>


                                            <div class="main_categories_wrap_right _scrollable_content _scrollable_content1">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="h1" data-toggle="collapse" data-target="#el_id_1">Электроника
                                                            2</div>
                                                    </div>
                                                </div>
                                                <div class="row" id="el_id_1">
                                                    <div class="col-sm-6 col-lg-3">
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Телефоны</a></li>
                                                            <li><a href="#a">Мобильные телефоны 2 asd</a></li>
                                                            <li><a href="#a">Умные часы и браслеты 2 asd</a></li>
                                                            <li><a href="#a">Аксессуары для телефонов 2 asd</a></li>
                                                            <li><a href="#a">Чехлы 2 asd</a></li>
                                                            <li><a href="#a">Защитные пленки и стекла 2 asd</a></li>
                                                        </ul>
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Портативная техника</a></li>
                                                            <li><a href="#a">Наушники и Bluetooth</a></li>
                                                            <li><a href="#a">Портативная акустика 2 asd</a></li>
                                                            <li><a href="#a">Очки виртуальной реальности 2 asd</a></li>
                                                            <li><a href="#a">Планшеты 2 asd</a></li>
                                                            <li><a href="#a">Квадрокоптеры 2 asd</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-3">
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Аудио-Видео Техника</a></li>
                                                            <li><a href="#a">Телевизоры 2 asd</a></li>
                                                            <li><a href="#a">Аудиотехника 2 asd</a></li>
                                                            <li><a href="#a">TV-тюнеры 2 asd</a></li>
                                                            <li><a href="#a">Стационарные медиаплееры 2 asd</a></li>
                                                            <li><a href="#a">Мультимедиа-проекторы 2 asd</a></li>
                                                        </ul>
                                                        <ul class="list-unstyled">
                                                            <li class="mainLink"><a href="#a">Фото-Видеокамеры</a></li>
                                                            <li><a href="#a">Фотоаппараты 2 asd</a></li>
                                                            <li><a href="#a">Объективы 2 asd</a></li>
                                                            <li><a href="#a">Экшн-камеры 2 asd</a></li>
                                                            <li><a href="#a">Видеокамеры 2 asd</a></li>
                                                            <li><a href="#a">Квадрокоптеры с камерой 2 asd</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="15">
                                                        <use xlink:href="#icon_laptop"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Компьютерная техника</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="11" height="19">
                                                        <use xlink:href="#icon_smartphone"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Смартфоны, планшеты</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="19">
                                                        <use xlink:href="#icon_tshirt"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Одежда</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="17" height="19">
                                                        <use xlink:href="#icon_earings"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Украшения</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="21" height="17.5">
                                                        <use xlink:href="#icon_sofa"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Товары для дома</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="15" height="19">
                                                        <use xlink:href="#icon_wash"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Бытовая техника</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="21">
                                                        <use xlink:href="#icon_toys"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Детские товары</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                        <li><a href="#a" class="iconized">
                                                <span class="icon"><svg class="svg-icon__link" width="19" height="19">
                                                        <use xlink:href="#icon_ball"></use>
                                                    </svg></span>
                                                <span class="iconized_text">Спорт и отдых</span>
                                                <span class="icon icon_arrow"><svg class="svg-icon__link" width="10"
                                                        height="19">
                                                        <use xlink:href="#icon_arrow_single"></use>
                                                    </svg></span>
                                            </a></li>
                                    </ul>
                                </div>
                                <!-- <div class="col-md-7 col-lg-8 col-xlg-10 main_categories_wrap_right">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="h1" data-toggle="collapse" data-target="#el_id_1">Электроника</div>
                                        </div>
                                    </div>
                                    <div class="row" id="el_id_1">
                                        <div class="col-sm-6 col-lg-3">
                                            <ul class="list-unstyled">
                                                <li class="mainLink"><a href="#a">Телефоны</a></li>
                                                <li><a href="#a">Мобильные телефоны</a></li>
                                                <li><a href="#a">Умные часы и браслеты</a></li>
                                                <li><a href="#a">Аксессуары для телефонов</a></li>
                                                <li><a href="#a">Чехлы</a></li>
                                                <li><a href="#a">Защитные пленки и стекла</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="mainLink"><a href="#a">Портативная техника</a></li>
                                                <li><a href="#a">Наушники и Bluetooth-гарнитуры</a></li>
                                                <li><a href="#a">Портативная акустика</a></li>
                                                <li><a href="#a">Очки виртуальной реальности</a></li>
                                                <li><a href="#a">Планшеты</a></li>
                                                <li><a href="#a">Квадрокоптеры</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <ul class="list-unstyled">
                                                <li class="mainLink"><a href="#a">Аудио-Видео Техника</a></li>
                                                <li><a href="#a">Телевизоры</a></li>
                                                <li><a href="#a">Аудиотехника</a></li>
                                                <li><a href="#a">TV-тюнеры</a></li>
                                                <li><a href="#a">Стационарные медиаплееры</a></li>
                                                <li><a href="#a">Мультимедиа-проекторы</a></li>
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="mainLink"><a href="#a">Фото-Видеокамеры</a></li>
                                                <li><a href="#a">Фотоаппараты</a></li>
                                                <li><a href="#a">Объективы</a></li>
                                                <li><a href="#a">Экшн-камеры</a></li>
                                                <li><a href="#a">Видеокамеры</a></li>
                                                <li><a href="#a">Квадрокоптеры с камерой</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="head_nav__item header_nav_search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Введите слово для поиска..."
                                aria-label="Введите слово для поиска..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-secondary iconized" type="button">
                                    <span class="icon"><svg class="svg-icon__link" width="21" height="21">
                                            <use xlink:href="#icon_search" /></svg></span>
                                    <span>Найти</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="head_nav__item header_nav">
                    <a href="#a" class="btn btn-lg btn-semiBlank iconized header_nav__profile">
                        <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="17" height="18"
                                viewBox="0 0 17 18">
                                <use xlink:href="#icon_login" />
                            </svg></span>
                        <span class="iconized__text">Кабинет</span>
                    </a>
                    <a href="#a" class="iconized btn header_nav__cart">
                        <span class="icon"><svg preserveAspectRatio="xMidYMid" width="22" height="22" viewBox="0 0 22 22">
                                <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABAlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+Tsa+AAAAVXRSTlMA8XskMIfYHi3VyZB+oPqwy/Y4/Q9yzgT0TJ6iuIzIeMzyTiIFK1WaAoCr++vAdXrhlWtAFWE7xAMnQ5+JE1Ghfww6/KnWyqTgvxxE/mPuS47wCN/n9yOaLAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAADHSURBVBjTbZDVEsJADEUXp1gp7u7Fi7u7l/z/r8CWMsuWnodN5szmziRIA6BF/+j0BiNSwwRmVc9YrApsWNsdLI2Tw9rl9tDjXh9+/YEgrUNhqUSitI7FpRJP0DqZQirhJkgjZXgmm8tzBUTC36JYYngoV6ryl1pdFo2m0CJpbVCIDwKoXqUDFF1Z9zrCL/2PHQxHYzI6mc7muC6Wq/WG2OV2x+JmtEdZOHz1dIuOJ9ycL9fb/fHVs93RLkq7h/gn2X7OnsTFCxSeIUpRTD1eAAAAAElFTkSuQmCC"
                                    width="22" height="22" />
                            </svg>
                            <span class="badge badge-danger cartBadge">42</span>
                        </span>
                        <span class="iconized__text">Корзина</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="site_nav d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-7 col-lg-8 col-xlg-8 head_categories">
                    <ul class="mainMenu">
                        <li><a href="#a">Электроника</a></li>
                        <li><a href="#a">Бытовая техника</a></li>
                        <li><a href="#a">Компьютерная техника</a></li>
                        <li><a href="#a">Строительство и ремонт</a></li>
                        <li><a href="#a">Детские товары</a></li>
                        <li><a href="#a">Авто</a></li>
                        <li><a href="#a">Товары для дома</a></li>
                        <li><a href="#a">Спорт и отдых</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> --}}
</div>