<div class="mPopupNav collapse modal _popupNav" id="mobile_menu">
    <div class="mPopupNav__dialog container modal-dialog pr-0 pl-0">
        <div class="_scrollable ps">
            <div class="mPopupNav__inner modal-content px-4 d-flex align-self-center flex-wrap">

                <div class="mPopupNav__logo">
                    <a href="#a" title="Concept" class="logo d-block">
                        <img src="images/logo.png" alt="Concept">
                    </a>
                </div>


                <div class="w-100 mt-5 mPopupNav__menu">
                    <ul class="list-unstyled">
                        <li class="mPopupNav__link hasChild">
                            <a href="#a">Все категории</a>
                            <div class="childItem">
                                <div class="childItem__goBackBtn _level_1">
                                    <span>Все категории</span>
                                </div>
                                <div class="mPopupNavScroll ps">
                                    <ul class="childItem__childNav">
                                        <li class="mPopupNav__link"><a href="#a">Красота</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Уход за волосами/Барбершопы</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Эпиляция</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Косметология</a></li>
                                        <li class="mPopupNav__link"><a href="#a">SPA, массаж</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Маникюр, педикюр</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Коррекция фигуры</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Другое</a></li>
                                    </ul>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mPopupNav__profileSettings">
                    <ul>
                        <li>
                            <a href="#a" class="iconized">
                                <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="17"
                                        height="18" viewBox="0 0 17 18">
                                        <use xlink:href="#icon_login" />
                                    </svg></span>
                                <span class="iconized__text">Кабинет</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a" class="iconized">
                                <span class="icon"><svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_location" /></svg></span>
                                <span>Регион: Ташкент</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a" class="iconized header_nav__favourites">
                                <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                        height="18" viewBox="0 0 19 18">
                                        <use xlink:href="#icon_heart" />
                                    </svg> </span>
                                <span class="iconized__text">Избранное</span>
                            </a>
                        </li>
                        <li>
                            <a href="#a" class="iconized header_nav__lang">
                                <span class="icon"><svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                        height="19" viewBox="0 0 19 19">
                                        <use xlink:href="#icon_world" />
                                    </svg> </span>
                                <span class="iconized__text">Язык: Русский</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <section class="mPopupNav__addTime">
                    <header>
                        <div class="h2">Заголовок объявления</div>
                    </header>
                    <div class="mPopupNav__addTime__content">
                        Lorem ipsum dolor sit amet consectetur <a href="#a">adipisicing elit</a>.
                    </div>
                </section>

                <div class="phoneBlock">
                    <div class="phoneBlock__phone">
                        <a href="tel:+998991234567">998 (99) 123-45-67</a>
                    </div>
                    <div class="phoneBlock__desc">
                        Для звонков из Узбекистана и регионов
                    </div>
                </div>
                <div class="phoneBlock">
                    <div class="phoneBlock__phone">
                        <a href="tel:+998991234567">998 (99) 123-45-67</a>
                    </div>
                    <div class="phoneBlock__desc">
                        Для Владельцев Бизнеса и частных предпринимателей
                    </div>
                </div>

                <a href="#a" class="btn btn-lg btn-primary">Связаться с нами</a>
            </div>
        </div>
    </div>
</div>