<div class="card">
    <div class="card-top">
        <a href="#a">
            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
        </a>
    </div>
    <div class="card-body">
        <p class="card-text"><a href="#a">Some quick example text to build on the card
                title and
                make up the bulk of the card's content.</a></p>
        <div class="card-info_block">
            <div class="card-rates_counts">
                <div class="rate_block">
                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                        <span style="width:80px;"></span>
                    </div>
                    <span class="total_rews">(12)</span>
                </div>
                <div class="orders_count">
                    Заказов 5
                </div>
            </div>
            <div class="prices_block">
                <strong class="actual_price">195 500 Сум</strong>
                <s class="old_price">250 000 Сум</s>
            </div>
            <button class="card-favourites added">
                <span class="sr-only">Favorites</span>
                <svg width="16" height="15" class="svg-icon__link">
                    <use xlink:href="#icon_heart" /></svg>
                <span class="rowList_visible">Добавить в избранное</span>
            </button>
        </div>
    </div>
    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
</div>