<svg xmlns="http://www.w3.org/2000/svg" class="main-svg-sprite" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_search"
        stroke-width="1">
        <path d="M14.5,7.5c0,3.9-3.1,7-7,7s-7-3.1-7-7s3.1-7,7-7S14.5,3.6,14.5,7.5z M18.5,18.5l-6.1-6.1" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="21px" height="18px" viewBox="0 0 21 18" id="icon_location"
        stroke-width="1">
        <path d="M11.5,4.5c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S11.5,3.9,11.5,4.5z M10.5,0.5c-2.2,0-4,1.8-4,4c0,3.3,4,9,4,9
            s4-5.7,4-9C14.5,2.3,12.7,0.5,10.5,0.5z M7.2,7.5H3.5l-3,10h20l-3-10h-3.7" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="18px" viewBox="0 0 19 18" id="icon_heart">
        <path id="heart1" d="M9.5,17.5c0,0-9-5-9-12c0-2,1-5,4-5s5,2.3,5,2.3s2-2.3,5-2.3s4,3,4,5C18.5,12.5,9.5,17.5,9.5,17.5z" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_world">
        <circle cx="9.5" cy="9.5" r="9" />
        <ellipse cx="9.5" cy="9.5" rx="9" ry="5" />
        <ellipse cx="9.5" cy="9.5" rx="5" ry="9" />
        <line x1="0.5" y1="9.5" x2="18.5" y2="9.5" />
        <line x1="9.5" y1="0.5" x2="9.5" y2="18.5" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="18px" viewBox="0 0 17 18" id="icon_login">
        <path d="M11,9.4l0.3,1.2c0.1,0.6,0.5,1,1,1.3l1.5,0.8c1,0.5,1.8,1.5,2.1,2.6l0.6,2.2h-16l0.6-2.2c0.3-1.1,1-2.1,2.1-2.6
            l1.5-0.8c0.5-0.3,0.9-0.7,1-1.3L6,9.4 M12.5,5V4.5c0-2.2-1.8-4-4-4h0c-2.2,0-4,1.8-4,4V5c0,2.2,1,4.3,2.8,5.6l0,0
            c0.7,0.5,1.7,0.5,2.4,0l0,0C11.5,9.3,12.5,7.2,12.5,5z" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="11px" viewBox="0 0 19 11" id="icon_burger">
        <path d="M0.5,0.5h18 M0.5,5.5h18 M0.5,10.5h18" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_cart">
        <polygon points="17.5,9.5 5.5,11.5 3.5,3.5 18.5,3.5 " />
        <circle cx="5" cy="17" r="1.5" />
        <circle cx="17" cy="17" r="1.5" />
        <polyline points="3.5,3.5 2.5,0.5 0.5,0.5 " />
        <polyline points="17.5,13.5 5.5,13.5 5.5,11.5 " />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="20px" height="19px" viewBox="0 0 20 19" id="icon_arr_right">
        <path d="M10.5,0.5l9,9l-9,9 M19.5,9.5h-19" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="10px" height="8px" viewBox="0 0 10 8" id="icon_chechk">
        <path d="M0.1,4.4C0,4.3,0,4.2,0,4.1s0-0.2,0.1-0.3l0.5-0.6c0.2-0.2,0.4-0.2,0.5,0l0,0l2.1,2.4c0.1,0.1,0.2,0.1,0.3,0
            l5.2-5.6h0C9,0,9.2,0,9.3,0.1l0.5,0.6c0.2,0.2,0.2,0.4,0,0.6L3.7,7.9C3.7,8,3.6,8,3.5,8C3.3,8,3.3,8,3.2,7.9l-3-3.4L0.1,4.4z" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="19px" viewBox="0 0 17 19" id="icon_box">
        <polyline points="16.5,4.5 8.5,8.5 0.5,4.5 " />
        <line x1="8.5" y1="18.5" x2="8.5" y2="8.5" />
        <polygon points="8.5,18.5 16.5,14.5 16.5,4.5 8.5,0.5 0.5,4.5 0.5,14.5 " />
        <line x1="4.5" y1="6.5" x2="12.5" y2="2.5" />
        <line x1="10.5" y1="10.5" x2="12.5" y2="9.5" />
        <line x1="10.5" y1="12.5" x2="12.5" y2="11.5" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="20px" viewBox="0 0 17 20" id="icon_gift_box">
        <rect x="1.5" y="9.5" width="14" height="10" />
        <line x1="6.5" y1="5.5" x2="6.5" y2="19.5" />
        <line x1="10.5" y1="5.5" x2="10.5" y2="19.5" />
        <path d="M8.5,5.5L4.7,1.1C3.6-0.1,1.5,0.6,1.5,2.3v0C1.5,3,2,3.6,2.6,3.8L8.5,5.5" />
        <path d="M8.5,5.5l3.8-4.4c1.1-1.3,3.2-0.5,3.2,1.2v0c0,0.7-0.5,1.3-1.1,1.5L8.5,5.5" />
        <rect x="0.5" y="5.5" width="16" height="4" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_chat">
        <path d="M17.6,15.8c0.6-0.6,0.9-1.4,0.9-2.3c0-2.2-2.2-4-5-4s-5,1.8-5,4c0,2.2,2.2,4,5,4c0.8,0,1.5-0.2,2.2-0.4l2.8,1.4
            L17.6,15.8z" />
        <path d="M13.5,9.5c1.5,0,2.9,0.6,3.8,1.5c0.7-1,1.2-2.2,1.2-3.5c0-3.9-4-7-9-7s-9,3.1-9,7c0,1.6,0.7,3.1,1.9,4.3
            l-0.9,2.7l2.7-1.4c1.3,0.7,2.8,1.2,4.5,1.3c-0.1-0.3-0.2-0.6-0.2-0.9C8.5,11.3,10.7,9.5,13.5,9.5z" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="16.9px" height="16.9px" viewBox="0 0 16.9 16.9" id="icon_phone">
        <path d="M5.8,6l0.7-1.1c0.2-0.3,0.2-0.8,0-1.1L4.4,0.5L1.9,1.3c-1,0.3-1.6,1.4-1.3,2.5c0.6,1.8,1.9,4.7,4.9,7.6
            c3,3,5.8,4.3,7.6,4.9c1,0.3,2.1-0.3,2.5-1.3l0.8-2.5l-3.3-2.1c-0.3-0.2-0.8-0.2-1.1,0l-1.1,0.7c-0.3,0.2-0.7,0.2-1.1,0
            c-0.5-0.3-1.4-0.9-2.3-1.8C6.7,8.5,6.1,7.6,5.8,7.1C5.6,6.7,5.6,6.3,5.8,6z" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_clock">
        <circle cx="9.5" cy="9.5" r="9" />
        <polyline points="13.5,9.5 9.5,9.5 9.5,3.5 " />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 17 17" id="icon_close">
        <path d="M0.5,16.5l16-16 M0.5,0.5l16,16" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_zoom">
        <path d="M11.5,0.5c3.9,0,7,3.1,7,7s-3.1,7-7,7s-7-3.1-7-7S7.6,0.5,11.5,0.5z M0.5,18.5l6.1-6.1 M14.5,7.5h-6 M11.5,10.5 v-6" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="20px" height="19px" viewBox="0 0 20 19" id="icon_arrow_left_gallery">
        <path d="M10.5,0.5l9,9l-9,9 M19.5,9.5h-19" />
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="21px" height="18px" viewBox="0 0 21 18" id="icon_alert">
        <polygon class="st0" points="20.5,17.5 10.5,0.5 0.5,17.5 "/>
        <line class="st0" x1="10.5" y1="7.5" x2="10.5" y2="11.5"/>
        <circle class="st0" cx="10.5" cy="14.5" r="0.5"/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_chat">
        <path class="st0" d="M17.6,15.8c0.6-0.6,0.9-1.4,0.9-2.3c0-2.2-2.2-4-5-4s-5,1.8-5,4c0,2.2,2.2,4,5,4c0.8,0,1.5-0.2,2.2-0.4l2.8,1.4	L17.6,15.8z"/><path class="st0" d="M13.5,9.5c1.5,0,2.9,0.6,3.8,1.5c0.7-1,1.2-2.2,1.2-3.5c0-3.9-4-7-9-7s-9,3.1-9,7c0,1.6,0.7,3.1,1.9,4.3	l-0.9,2.7l2.7-1.4c1.3,0.7,2.8,1.2,4.5,1.3c-0.1-0.3-0.2-0.6-0.2-0.9C8.5,11.3,10.7,9.5,13.5,9.5z"/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="16.9px" height="16.9px" viewBox="0 0 16.9 16.9" id="icon_phone">
        <path class="st0" d="M5.8,6l0.7-1.1c0.2-0.3,0.2-0.8,0-1.1L4.4,0.5L1.9,1.3c-1,0.3-1.6,1.4-1.3,2.5c0.6,1.8,1.9,4.7,4.9,7.6 c3,3,5.8,4.3,7.6,4.9c1,0.3,2.1-0.3,2.5-1.3l0.8-2.5l-3.3-2.1c-0.3-0.2-0.8-0.2-1.1,0l-1.1,0.7c-0.3,0.2-0.7,0.2-1.1,0 c-0.5-0.3-1.4-0.9-2.3-1.8C6.7,8.5,6.1,7.6,5.8,7.1C5.6,6.7,5.6,6.3,5.8,6z"/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_clock">
        <circle class="st0" cx="9.5" cy="9.5" r="9"/><polyline class="st0" points="13.5,9.5 9.5,9.5 9.5,3.5 "/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="13px" viewBox="0 0 19 13" id="icon_filter_list">
        <line class="st0" x1="5.5" y1="1.5" x2="18.5" y2="1.5"/>
        <line class="st0" x1="5.5" y1="6.5" x2="18.5" y2="6.5"/>
        <line class="st0" x1="5.5" y1="11.5" x2="18.5" y2="11.5"/>
        <circle class="st0" cx="1.5" cy="1.5" r="1"/>
        <circle class="st0" cx="1.5" cy="6.5" r="1"/>
        <circle class="st0" cx="1.5" cy="11.5" r="1"/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 17 17" id="icon_filter_options">
        <rect x="9.5" y="0.5" class="st0" width="7" height="7"/>
        <rect x="9.5" y="9.5" class="st0" width="7" height="7"/>
        <rect x="0.5" y="0.5" class="st0" width="7" height="7"/>
        <rect x="0.5" y="9.5" class="st0" width="7" height="7"/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="10px" height="19px" viewBox="0 0 10 19" id="icon_arrow_single">
        <polyline points="0.5,18.5 9.5,9.5 0.5,0.5 "/>
    </symbol>
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_electronics">
        <path d="M14.5,16.5h-10c-1.1,0-2-0.9-2-2v-10c0-1.1,0.9-2,2-2h10c1.1,0,2,0.9,2,2v10C16.5,15.6,15.6,16.5,14.5,16.5z"/>
        <rect x="6.5" y="6.5" width="6" height="6"/>
        <line x1="5.5" y1="2.5" x2="5.5" y2="0.5"/>
        <line x1="9.5" y1="2.5" x2="9.5" y2="0.5"/>
        <line x1="13.5" y1="2.5" x2="13.5" y2="0.5"/>
        <line x1="5.5" y1="18.5" x2="5.5" y2="16.5"/>
        <line x1="9.5" y1="18.5" x2="9.5" y2="16.5"/>
        <line x1="13.5" y1="18.5" x2="13.5" y2="16.5"/>
        <line x1="16.5" y1="5.5" x2="18.5" y2="5.5"/>
        <line x1="16.5" y1="9.5" x2="18.5" y2="9.5"/>
        <line x1="16.5" y1="13.5" x2="18.5" y2="13.5"/>
        <line x1="0.5" y1="5.5" x2="2.5" y2="5.5"/>
        <line x1="0.5" y1="9.5" x2="2.5" y2="9.5"/>
        <line x1="0.5" y1="13.5" x2="2.5" y2="13.5"/>
    </symbol>
    
    <!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In  -->
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_earphones">
        <path d="M0.5,15.5v-6c0-5,4-9,9-9h0c5,0,9,4,9,9v6"/>
        <path d="M4.5,18.5h-2v-7h2c0.6,0,1,0.4,1,1v5C5.5,18.1,5.1,18.5,4.5,18.5z"/>
        <path d="M14.5,18.5h2v-7h-2c-0.6,0-1,0.4-1,1v5C13.5,18.1,13.9,18.5,14.5,18.5z"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="15px" viewBox="0 0 19 15" id="icon_laptop">
        <path d="M16.5,9.5h-14v-8c0-0.6,0.4-1,1-1h12c0.6,0,1,0.4,1,1V9.5z"/>
        <polygon points="0.5,12.5 18.5,12.5 16.5,9.5 2.5,9.5 "/>
        <rect x="0.5" y="12.5" width="18" height="2"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="11px" height="19px" viewBox="0 0 11 19" id="icon_smartphone">
        <path d="M9.5,18.5h-8c-0.6,0-1-0.4-1-1v-16c0-0.6,0.4-1,1-1h8c0.6,0,1,0.4,1,1v16C10.5,18.1,10.1,18.5,9.5,18.5z"/>
        <line x1="4.5" y1="16.5" x2="6.5" y2="16.5"/>
        <line x1="4.5" y1="2.5" x2="6.5" y2="2.5"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_tshirt">
    <polyline points="14.5,5.5 14.5,18.5 4.5,18.5 4.5,5.5 "/>
    <path d="M14.5,8.5h4V6.1c0-2.2-1.4-4.1-3.4-4.7l-2.6-0.9l-0.4,1.1c-0.4,1.1-1.4,1.9-2.6,1.9h0c-1.2,0-2.3-0.8-2.6-1.9 	L6.5,0.5L3.9,1.4C1.9,2,0.5,4,0.5,6.1v2.4h4"/>
    </symbol>
    
    
    <symbol stroke-width="1" x="0px" y="0px" width="17px" height="19px" viewBox="0 0 17 19" id="icon_earings">
    <path d="M2.5,0.5h1c0.6,0,1,0.4,1,1v0c0,0.6-0.4,1-1,1h0v3"/>
    <path d="M0.5,15.5c0,1.7,1.3,3,3,3s3-1.3,3-3"/>
    <path d="M0.5,15.5c0-4,3-8,3-8"/>
    <path d="M6.5,15.5c0-4-3-8-3-8"/>
    <path d="M2.5,15.5c0,0.6,0.4,1,1,1"/>
    <circle cx="3.5" cy="6.5" r="1"/>
    <path d="M12.5,0.5h1c0.6,0,1,0.4,1,1v0c0,0.6-0.4,1-1,1h0v3"/>
    <path d="M10.5,15.5c0,1.7,1.3,3,3,3s3-1.3,3-3"/>
    <path d="M10.5,15.5c0-4,3-8,3-8"/>
    <path d="M16.5,15.5c0-4-3-8-3-8"/>
    <path d="M12.5,15.5c0,0.6,0.4,1,1,1"/>
    <circle cx="13.5" cy="6.5" r="1"/>
    </symbol>
    
    
    <symbol stroke-width="1" x="0px" y="0px" width="21px" height="17.5px" viewBox="0 0 21 17.5" id="icon_sofa">
    <path d="M3.5,17.5"/>
    <path d="M10.5,17.5"/>
    <path d="M17.5,17.5"/>
    <path d="M3.5,6.5L4,4c0.3-1.6,1.6-2.9,3.2-3.2c1-0.2,2.1-0.3,3.3-0.3s2.3,0.1,3.3,0.3C15.4,1.1,16.7,2.4,17,4l0.5,2.5"
        />
    <path d="M18.5,6.5L18.5,6.5c-0.9,0-1.7,0.6-2,1.4l-1,2.6c0,0-2-1-5-1s-5,1-5,1l-1-2.6c-0.3-0.8-1.1-1.4-2-1.4h0
        c-1.1,0-2,0.9-2,2v0c0,0.6,0.4,1,1,1h1l0.9,5.2c0.1,0.5,0.5,0.8,1,0.8h12.3c0.5,0,0.9-0.4,1-0.8l0.9-5.2h1c0.6,0,1-0.4,1-1v0
        C20.5,7.4,19.6,6.5,18.5,6.5z"/>
    <line x1="4.5" y1="16.5" x2="4.5" y2="15.5"/>
    <line x1="16.5" y1="15.5" x2="16.5" y2="16.5"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="15px" height="19px" viewBox="0 0 15 19" id="icon_wash">
    <path d="M13.5,18.5h-12c-0.6,0-1-0.4-1-1v-16c0-0.6,0.4-1,1-1h12c0.6,0,1,0.4,1,1v16C14.5,18.1,14.1,18.5,13.5,18.5z"/>
    <circle cx="7.5" cy="11.5" r="4"/>
    <path d="M5.5,11.5c0-1.1,0.9-2,2-2"/>
    <line x1="0.5" y1="4.5" x2="14.5" y2="4.5"/>
    <line x1="2.5" y1="2.5" x2="3.5" y2="2.5"/>
    <line x1="5.5" y1="2.5" x2="6.5" y2="2.5"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="21px" viewBox="0 0 19 21" id="icon_toys">
    <path d="M15.2,16l-1.2-5.6c-0.3-1.3-0.4-2.6-0.4-4v0l3,1l1-1l-2-4v-2L14.2,1c-2.2,0.9-3.7,3.1-3.7,5.5v0h-5L5.4,6.3
        C5,5.4,3.8,5.2,3.1,5.9l0,0C2.7,6.3,2.5,6.8,2.5,7.3v3.2c0,0,1-2,3-2L3.8,16c-0.3-0.2-0.7-0.4-1-0.6c-1-0.7-2.3,0-2.3,1.2l0,0
        c0,0.5,0.2,1,0.6,1.2c2.4,1.6,5.3,2.6,8.4,2.6s6-1,8.4-2.6c0.4-0.3,0.6-0.7,0.6-1.2v0c0-1.2-1.3-1.9-2.3-1.2
        C15.8,15.7,15.5,15.9,15.2,16z M5.7,16.9l1.6-4.7c0.1-0.4,0.5-0.7,0.9-0.7h2.6c0.4,0,0.8,0.3,0.9,0.7l1.6,4.7
        c-1.2,0.4-2.5,0.6-3.8,0.6S6.9,17.3,5.7,16.9z"/>
    </symbol>
    
    <symbol stroke-width="1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" id="icon_ball">
        <circle cx="9.5" cy="9.5" r="9"/>
        <path d="M10.5,0.6c0.2,2,1.1,3.9,2.6,5.4s3.4,2.4,5.4,2.6"/>
        <path d="M8.5,18.4c-0.2-2-1.1-3.9-2.6-5.4s-3.4-2.4-5.4-2.6"/>
        <line x1="3.1" y1="3.1" x2="15.9" y2="15.9"/>
        <line x1="3.1" y1="15.9" x2="15.9" y2="3.1"/>
    </symbol>

    <symbol stroke="none" fill="black" x="0px" y="0px" width="12px" height="7px" viewBox="0 0 12 7" id="icon_arrow_bottom">
        <path d="M6,7C5.8,7,5.6,6.9,5.4,6.7L0.2,1.5c-0.3-0.3-0.3-0.9,0-1.2c0.3-0.3,0.9-0.3,1.2,0L6,4.9l4.6-4.7
        c0.3-0.3,0.9-0.3,1.2,0c0.3,0.3,0.3,0.9,0,1.2L6.6,6.7C6.4,6.9,6.2,7,6,7z"/>
    </symbol>

    <symbol width="10" height="8" viewBox="0 0 252.1 477.2"  fill="black" x="0px" y="0px" id="icon_arrow_next">
        <g><path d="M248.2,229.1L23.1,4C17.8-1.3,9.3-1.3,4,4s-5.3,13.8,0,19.1l215.5,215.5L4,454.1c-5.3,5.3-5.3,13.8,0,19.1 c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C253.4,242.9,253.4,234.3,248.2,229.1z"/></g>
    </symbol>

    <symbol x="0px" y="0px" width="20px" height="19px" viewBox="0 0 20 19" id="icon_slider_arrow">
        <path d="M10.5,0.5l9,9l-9,9 M19.5,9.5h-19"/>
    </symbol>

    <symbol x="0px" y="0px" width="20px" height="19px" viewBox="0 0 20 19" id="icon_slider_arrow_left">
        <path d="M9.5,18.5l-9-9l9-9 M19.5,9.5h-19"/>
    </symbol>

</svg>