<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> prebanner}}
    {{> pageheader}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#a">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#a">Категория</a></li>
                    <li class="breadcrumb-item active">Подкатегория</li>
                </ol>
            </div>
            <div class="d-none d-lg-block mb-3 col-lg-3 col-xlg-2 aside_col">
                <div id="toClone">
                    <nav class="sidebarNav">
                        <header class="sidebarNav__header">
                            Цена <small>(Сум)</small>
                        </header>
                        <div class="sidebarNav__content">
                            <div class="priceFilter">
                                <div class="priceFilter__inputsWrap">
                                    <input type="text" class="priceFilter__input" name="minVal" id="minVal">
                                    <span> — </span>
                                    <input type="text" class="priceFilter__input" name="maxVal" id="maxVal">
                                </div>
                                <div id="priceFilter" data-step="10000" data-min="1000000" data-max="50000000"
                                    data-startMin="10000000" data-startMax="30000000"></div>
                            </div>
                        </div>
                    </nav>
                    <nav class="sidebarNav">
                        <header class="sidebarNav__header">
                            Производитель
                        </header>
                        <div class="sidebarNav__section">
                            <div class="sidebarNav__search_wrap">
                                <span class="icon"><svg class="svg-icon__link" width="14" height="14">
                                        <use xlink:href="#icon_search" /></svg></span>
                                <input type="search" name="searchVendor" id="searchVendor">
                            </div>
                        </div>
                        <div class="sidebarNav__content">
                            <ul class="sidebarNav__vendor_filter">
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="adidas" id="adidas" class="awesomeInput-input" checked>
                                        <label class="awesomeInput-label" for="adidas">Adidas</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Affliction" id="Affliction" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Affliction">Affliction</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="BananaRepublic" id="BananaRepublic" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="BananaRepublic">Banana Republic</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="CalvinKlein" id="CalvinKlein" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="CalvinKlein">Calvin Klein</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Casio" id="Casio" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Casio">Casio</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="DinoRicci" id="DinoRicci" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="DinoRicci">Dino Ricci</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Dolce&Gabbana" id="Dolce&Gabbana" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Dolce&Gabbana">Dolce & Gabbana</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="FerrariCavallino" id="FerrariCavallino" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="FerrariCavallino">Ferrari Cavallino</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                            </ul>
                            <ul class="sidebarNav__vendor_filter collapse" id="vendors">
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="adidas1" id="adidas1" class="awesomeInput-input" checked>
                                        <label class="awesomeInput-label" for="adidas1">Adidas</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Affliction1" id="Affliction1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Affliction1">Affliction</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="BananaRepublic1" id="BananaRepublic1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="BananaRepublic1">Banana Republic</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="CalvinKlein1" id="CalvinKlein1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="CalvinKlein1">Calvin Klein</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Casio1" id="Casio1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Casio1">Casio</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="DinoRicci1" id="DinoRicci1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="DinoRicci1">Dino Ricci</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="Dolce&Gabbana1" id="Dolce&Gabbana1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="Dolce&Gabbana1">Dolce & Gabbana</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                                <li class="sidebarNav__vendor_filter__item">
                                    <div class="awesomeInput awesomeInput_check">
                                        <input type="checkbox" name="FerrariCavallino1" id="FerrariCavallino1" class="awesomeInput-input">
                                        <label class="awesomeInput-label" for="FerrariCavallino1">Ferrari Cavallino</label>
                                    </div>
                                    <div class="text-muted">54</div>
                                </li>
                            </ul>
                            <div class="text-center">
                                <button class="btn btn-link more_button" href="#vendors" data-toggle="collapse" aria-expanded="false" aria-controls="vendors" data-alt_text="Скрыть лишнее"  data-original_text="Показать ещё">Показать ещё</button>
                            </div>
                        </div>
                    </nav>
                    <nav class="sidebarNav">
                        <header class="sidebarNav__header">
                            Категории
                        </header>
                        <div class="sidebarNav__section product_category__wrap">
                            <ul class="product_category">
                                <li class="product_category__level1">
                                    <a href="#a" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Верхняя одежда</a>
                                    <ul id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <li class="product_category__level2"><a href="#a">Куртки</a></li>
                                        <li class="product_category__level2"><a href="#a">Пальто</a></li>
                                        <li class="product_category__level2"><a href="#a">Плащи и тренчи</a></li>
                                        <li class="product_category__level2"><a href="#a">Пуховики</a></li>
                                        <li class="product_category__level2"><a href="#a">Шубы</a></li>
                                    </ul>
                                </li>
                                <li class="product_category__level1"><a href="#a">Платья</a></li>
                                <li class="product_category__level1"><a href="#a">Рубашки и блузы</a></li>
                                <li class="product_category__level1"><a href="#a">Футболки и топы</a></li>
                                <li class="product_category__level1"><a href="#a">Джинсы</a></li>
                                <li class="product_category__level1"><a href="#a">Джемперы и кардиганы</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="sidebarNav">
                        <header class="sidebarNav__header">
                            Цвет
                        </header>
                        <div class="sidebarNav__section">
                            <ul class="colorFilter">
                                <li>
                                    <label for="coloredCheckbox__black" class="coloredCheckbox coloredCheckbox__black">
                                        <input type="checkbox" id="coloredCheckbox__black">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__gray" class="coloredCheckbox coloredCheckbox__gray">
                                        <input type="checkbox" id="coloredCheckbox__gray">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__white" class="coloredCheckbox coloredCheckbox__white">
                                        <input type="checkbox" id="coloredCheckbox__white">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__cyan" class="coloredCheckbox coloredCheckbox__cyan">
                                        <input type="checkbox" id="coloredCheckbox__cyan">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__purple" class="coloredCheckbox coloredCheckbox__purple">
                                        <input type="checkbox" id="coloredCheckbox__purple">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__light" class="coloredCheckbox coloredCheckbox__light-green">
                                        <input type="checkbox" id="coloredCheckbox__light">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__green" class="coloredCheckbox coloredCheckbox__green">
                                        <input type="checkbox" id="coloredCheckbox__green">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__red" class="coloredCheckbox coloredCheckbox__red">
                                        <input type="checkbox" id="coloredCheckbox__red">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__orange" class="coloredCheckbox coloredCheckbox__orange">
                                        <input type="checkbox" id="coloredCheckbox__orange">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__yellow" class="coloredCheckbox coloredCheckbox__yellow">
                                        <input type="checkbox" id="coloredCheckbox__yellow">
                                        <span></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center d-block d-lg-none">
                        <a href="#a" class="btn btn-primary btn-lg">Применить фильтры</a>
                    </div>
                </div>
            </div>
            <div class=" col-lg-9 col-xlg-10">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <h1>Женская одежда</h1>
                            <nav class="content_filter">
                                <form class="sampleForm">
                                    <b class="content_filter__item d-none d-lg-inline">Сортировать:</b>
                                    <div class="form-control__select content_filter__item">
                                        <select name="filter" id="selectFilter" class="form-control">
                                            <option value="price_descending">По цене</option>
                                            <option value="price_ascendng" selected>По цене по возрастанию</option>
                                            <option value="date_descending">По дате по убыванию</option>
                                            <option value="date_ascendng">По дате по возрастанию</option>
                                        </select>
                                    </div>

                                    <div class="d-flex flex-wrap check_holder">
                                        <div class="d-none d-lg-block awesomeInput awesomeInput_check content_filter__item">
                                            <input type="checkbox" name="local_offers" id="local_offers" class="awesomeInput-input">
                                            <label class="awesomeInput-label" for="local_offers">Сначала предложения в
                                                моем регионе</label>
                                        </div>
                                        <div class="d-none d-lg-block awesomeInput awesomeInput_check content_filter__item">
                                            <input type="checkbox" name="free_delivery" id="free_delivery" class="awesomeInput-input">
                                            <label class="awesomeInput-label" for="free_delivery">Бесплатная доставка</label>
                                        </div>
                                    </div>
                                </form>
                                <div class="d-none d-lg-flex layoutTrigger">
                                    <button class="layoutTrigger__item layoutTrigger__tileList active">
                                        <svg width="17" height="17">
                                            <use xlink:href="#icon_filter_options" /></svg>
                                    </button>
                                    <button class="layoutTrigger__item layoutTrigger__rowList">
                                        <svg width="19" height="13">
                                            <use xlink:href="#icon_filter_list" /></svg>
                                    </button>
                                </div>
                                <div class="d-block d-lg-none m_filters">
                                    <button class="btn btn-secondary w-100 filters_trigger toggleModal" data-target="#testModal">Фильтры</button>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="mainContent">
                        <div class="products_list products_list__tileList row">
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites added">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites added">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites added">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites added">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites added">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="products_list products_list__rowList row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                            <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                            <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12">
                                <div class="card">
                                    <div class="card-top">
                                        <a href="#a">
                                            <img class="card-img-top" src='https://dummyimage.com/253x210.jpg' alt='' />
                                        </a>

                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><a href="#a">Some quick example text to build on the card
                                                title and
                                                make up the bulk of the card's content.</a></p>
                                        <div class="card-info_block">
                                            <div class="card-rates_counts">
                                                <div class="rate_block">
                                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                                        <span style="width:80px;"></span>
                                                    </div>
                                                    <span class="total_rews">(12)</span>
                                                </div>
                                                <div class="orders_count">
                                                    Заказов 5
                                                </div>
                                            </div>
                                            <div class="prices_block">
                                                <strong class="actual_price">195 500 Сум</strong>
                                                <s class="old_price">250 000 Сум</s>
                                            </div>
                                            <button class="card-favourites">
                                                <span class="sr-only">Favorites</span>
                                                <svg width="16" height="15" class="svg-icon__link">
                                                    <use xlink:href="#icon_heart" /></svg>
                                                <span class="rowList_visible">Добавить в избранное</span>
                                            </button>
                                            <div class="card-flags"><span class="card-discout badge badge-purple">-40%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item page-item_previous"><a class="page-link" href="#">
                                        <span class="sr-only">Previous</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            preserveAspectRatio="xMidYMid" width="7" height="12" viewBox="0 0 7 12">
                                            <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAMAAACZS1ciAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUAAAAgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQAAADh/mIDAAAAEXRSTlMACrviD8KwybIGsRXRpQPQ0pUTraIAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAANUlEQVQI12NgAAJGJmYQxcIqyAai2AU5OMEUF5Di5hHk5QOK8kMoOM0tAGVA1cH1wc0BmwsAYRACBST6/zMAAAAASUVORK5CYII="
                                                width="7" height="12" /> </svg>
                                    </a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-item_next"><a class="page-link" href="#">
                                        <span class="sr-only">Next</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            preserveAspectRatio="xMidYMid" width="7" height="12" viewBox="0 0 7 12">
                                            <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAMAAACZS1ciAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUAAAAgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQgISQAAADh/mIDAAAAEXRSTlMACrviD8KwybIGsRXRpQPQ0pUTraIAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAANUlEQVQI12NgAAJGJmYQxcIqyAai2AU5OMEUF5Di5hHk5QOK8kMoOM0tAGVA1cH1wc0BmwsAYRACBST6/zMAAAAASUVORK5CYII="
                                                width="7" height="12" /> </svg>
                                    </a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container subscribeBlock">
        <div class="row">
            <div class="col-lg-5 mx-auto text-center">
                <div class="subscribeBlock__image"><img src="images/subscribe_pic.png" alt="Оставайтесь в курсе Скидок и поступлений новых товаров"></div>
                <h3>Оставайтесь в курсе Скидок и поступлений новых товаров</h3>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Введите Вашу Электронную почту"
                            aria-label="Введите Вашу Электронную почту" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Подписаться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <small>Нажимая «Подписаться», я соглашаюсь получать рекламные и иные маркетинговые сообщения от
                    «Concept Store» на <a href="#b">условиях Политики конфиденциальности</a> и <a href="#a">Пользовательского
                        соглашения</a>.</small>
            </div>
        </div>
    </div>


    {{> footer}}

    <div class="modal" id="testModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="simpleCloseButton _closeBtn" type="button" aria-label="Close" data-dismiss="modal">
                        <svg class="_closeBtn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="-174 83 16 16" style="enable-background:new -174 83 16 16;"
                            xml:space="preserve" width="20" height="20">
                            <path id="close-thin" d="M-173.5,83l15.5,15.5l-0.5,0.5L-174,83.5L-173.5,83z M-158.5,83l0.5,0.5L-173.5,99l-0.5-0.5 L-158.5,83z"></path>
                        </svg>
                    </button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/nouislider.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>