<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> prebanner}}
    {{> pageheader}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#a">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#a">Категория</a></li>
                    <li class="breadcrumb-item active">Подкатегория</li>
                </ol>
            </div>
            <div class="col-12">
                <div class="row mb-5">
                    <div class="col-lg-6 col-xlg-5">
                        <div class="prodGallery">
                            <div class="sw_container">
                                <div class="pageSwiperThumbed swiper-container" id="slider1" data-thumbs="slider1_thumbs">
                                    <div class="swiper-wrapper _baguette_gal">
                                        <figure class="swiper-slide">
                                            <a href="./images/download1.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download1.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download2.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download2.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download3.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download3.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download4.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download4.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download5.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download5.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download6.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download6.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download7.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download7.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <a href="./images/download8.jpg" class="zoom_btn btn btn-semiBlank iconized">
                                                <span class="icon"><svg preserveAspectRatio="xMidYMid" width="19"
                                                        height="19" viewBox="0 0 19 19">
                                                        <use xlink:href="#icon_zoom" />
                                                    </svg></span>
                                                <span class="iconized_text">Увеличить</span>
                                            </a>
                                            <img src="./images/download8.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="swiper-button-next">
                                        <svg preserveAspectRatio="xMidYMid" width="20" height="19" viewBox="0 0 20 19">
                                            <use xlink:href="#icon_arrow_left_gallery" />
                                        </svg>
                                    </div>
                                    <div class="swiper-button-prev">
                                        <svg preserveAspectRatio="xMidYMid" width="20" height="19" viewBox="0 0 20 19">
                                            <use xlink:href="#icon_arrow_left_gallery" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="pageSwiperThumbs swiper-container" id="slider1_thumbs">
                                    <div class="swiper-wrapper">
                                        <figure class="swiper-slide">
                                            <img src="./images/download1.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download2.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download3.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download4.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download5.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download6.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download7.jpg" alt="">
                                        </figure>
                                        <figure class="swiper-slide">
                                            <img src="./images/download8.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xlg-5 productInfo_block">
                        <h1>Платье А-силуэта Emka PL878/arty</h1>

                        <div class="card-rates_counts">
                            <div class="rate_block">
                                <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                    <span style="width:80px;"></span>
                                </div>
                                <span class="total_rews">18 отзывов</span>
                            </div>
                        </div>
                        <div class="productInfo separated_border_horizontal">
                            <div class="productInfo__item">Код товара: <strong>PL878/arty</strong></div>
                            <div class="productInfo__item">Производитель: <strong>Emka Fashion</strong></div>
                            <div class="productInfo__item">Доступность: <strong>В Наличии</strong></div>
                        </div>
                        <div class="productInfo productColor">
                            <div class="productInfo__item">Цвет: <strong>Черный</strong></div>

                            <ul class="colorFilter">
                                <li>
                                    <label for="coloredCheckbox__black" class="coloredCheckbox coloredCheckbox__black">
                                        <input type="radio" id="coloredCheckbox__black" name="prod_color">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__gray" class="coloredCheckbox coloredCheckbox__gray">
                                        <input type="radio" id="coloredCheckbox__gray" name="prod_color">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__white" class="coloredCheckbox coloredCheckbox__white">
                                        <input type="radio" id="coloredCheckbox__white" name="prod_color">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__cyan" class="coloredCheckbox coloredCheckbox__cyan">
                                        <input type="radio" id="coloredCheckbox__cyan" name="prod_color">
                                        <span></span>
                                    </label>
                                </li>
                                <li>
                                    <label for="coloredCheckbox__purple" class="coloredCheckbox coloredCheckbox__purple">
                                        <input type="radio" id="coloredCheckbox__purple" name="prod_color">
                                        <span></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="productInfo productSize">
                            <div class="productInfo__item">Размер: <strong>S</strong></div>
                            <ul class="colorFilter sizeFilter">
                                <li>
                                    <label for="sizeXS" class="coloredCheckbox coloredCheckbox__outlined">
                                        <input type="radio" id="sizeXS" name="size">
                                        <span></span>
                                        <span class="text">XS</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="sizeS" class="coloredCheckbox coloredCheckbox__outlined">
                                        <input type="radio" id="sizeS" name="size">
                                        <span></span>
                                        <span class="text">S</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="sizeM" class="coloredCheckbox coloredCheckbox__outlined">
                                        <input type="radio" id="sizeM" name="size">
                                        <span></span>
                                        <span class="text">M</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="sizeL" class="coloredCheckbox coloredCheckbox__outlined">
                                        <input type="radio" id="sizeL" name="size">
                                        <span></span>
                                        <span class="text">L</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="sizeXL" class="coloredCheckbox coloredCheckbox__outlined">
                                        <input type="radio" id="sizeXL" name="size">
                                        <span></span>
                                        <span class="text">XL</span>
                                    </label>
                                </li>
                            </ul>
                            <div class="productInfo__item">
                                <small class="productInfo__link"><a href="#a">Не знаете какой Размер вам нужен?</a></small>
                            </div>
                        </div>
                        <div class="productInfo productQty">
                            <label class="productInfo__item mr-3" for="qty">Количество</label>

                            <div class="number-plus-minus_light number-plus-minus">
                                <input type="number" value="3" min="1" max="5">
                            </div>
                        </div>
                        <div class="productPrice">
                            <div class="productPrice__item productPrice__actualPrice">4 559 000 Сум</div>
                            <div class="productPrice__item productPrice__oldPrice">
                                4 859 000 Сум
                            </div>
                            <div class="productPrice__item">
                                <span class="badge badge-pill badge-purple">Скидка 40%</span>
                            </div>
                        </div>
                        <div class="productActions">
                            <div class="productActions__item">
                                <button class="btn btn-lg  btn-primary btn-addToCart iconized">
                                    <span class="icon"><svg preserveAspectRatio="xMidYMid" width="22" height="22"
                                            viewBox="0 0 22 22">
                                            <use xlink:href="#icon_cart" />
                                        </svg></span>
                                    <span class="iconized__text">В корзину</span>
                                </button>
                            </div>
                            <div class="productActions__item">
                                <button class="btn btn-lg iconized btn-transparent">
                                    <span class="icon"><svg preserveAspectRatio="xMidYMid" width="22" height="22"
                                            viewBox="0 0 22 22">
                                            <use xlink:href="#icon_heart" />
                                        </svg></span>
                                    <span class="iconized__text">Добавить в избранное</span>
                                </button>
                            </div>
                        </div>
                        <div class="productInfo productInfo_flexed">
                            <div class="productInfo__item">
                                <div class="productInfo__label">
                                    Доставка:
                                </div>
                                <div class="productInfo__icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_box" /></svg>
                                </div>
                                <div class="productInfo__text">
                                    <strong>
                                        Доставка по Узбекистану <br>
                                        Бесплатная доставка по г.Ташкент
                                    </strong><br>
                                    <small>Доставка в другие города и регионы от 15000 сум</small>
                                </div>
                            </div>
                            <div class="productInfo__item">
                                <div class="productInfo__label">
                                    Акции:
                                </div>
                                <div class="productInfo__icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_gift_box" /></svg>
                                </div>
                                <div class="productInfo__text">
                                    <strong>
                                        Скидка до 100 000 сум
                                    </strong><br>
                                    <small>При заказе от от 1 500 000 сум</small>
                                </div>
                            </div>
                            <div class="productInfo__item productInfo__align_center">
                                <div class="productInfo__label">
                                    Оплата:
                                </div>
                                <div class="d-flex flex-wrap productInfo__text">
                                    <div class="productInfo__icon">
                                        <img src="./images/icons/payme.png" alt="Payme">
                                    </div>
                                    <div class="productInfo__icon">
                                        <img src="./images/icons/upay.png" alt="Upay">
                                    </div>
                                    <div class="productInfo__icon">
                                        <img src="./images/icons/click.png" alt="Click">
                                    </div>
                                    <div class="productInfo__icon">
                                        <img src="./images/icons/paynet.png" alt="Paynet">
                                    </div>
                                    <div class="productInfo__icon">
                                        <img src="./images/icons/uzcard.png" alt="Uzcard">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vendorBlock vendorBlock_white_background">
        <div class="container">
            <div class="row vendorBlock__content">
                <div class="order-2 order-md-1 col-md-5 col-lg-4 col-xlg-3">
                    <div class="vendorBlock__heading">
                        О продавце
                    </div>
                    <div class="sellerInfo">
                        <div class="sellerInfo__logo"><img src="./images/icons/emka_logo.png" alt="EMKA опт"></div>
                        <div class="sellerInfo__name">OOO “Emka fashion”</div>
                        <div class="sellerInfo__location">Ташкент</div>

                        <div class="sellerInfo__brief">
                            <div class="sellerInfo__brief__item">
                                <div class="icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_location" /></svg>
                                </div>
                                <div class="sellerInfo__brief__text">
                                    <p>Узбекистан, Г. Ташкент, 52 ул. Имама ат-Термизи, 100100</p>
                                    <a href="#a">Посмотреть на карте</a>
                                </div>
                            </div>
                            <div class="sellerInfo__brief__item">
                                <div class="icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_chat" /></svg>
                                </div>
                                <div class="sellerInfo__brief__text">
                                    <a href="#a">Написать продавцу</a>
                                </div>
                            </div>
                            <div class="sellerInfo__brief__item">
                                <div class="icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_phone" /></svg>
                                </div>
                                <div class="sellerInfo__brief__text">
                                    +998 XX XXX-XX-XX
                                </div>
                            </div>
                            <div class="sellerInfo__brief__item">
                                <div class="icon">
                                    <svg class="svg-icon__link" width="21" height="18">
                                        <use xlink:href="#icon_clock" /></svg>
                                </div>
                                <div class="sellerInfo__brief__text">
                                    <p>Рабочий график:</p>
                                    <p>Пн-Пт 8:00 - 18:00</p>
                                    <p>Сб-бВс 10:00 - 13:00</p>
                                </div>
                            </div>
                            <div class="sellerInfo__brief__item">
                                <a href="#a" class="btn btn-lg btn-secondary">
                                    <span>Перейти в магазин</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-1 order-md-2 col-md-7 col-lg-8 col-xlg-6 vendorBlock__rightSide">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product_description" data-toggle="tab" href="#product_description_tab"
                                role="tab" aria-controls="product_description_tab" aria-selected="true">
                                Описание продукта</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="testimonials" data-toggle="tab" href="#testimonials_tab"
                                role="tab" aria-controls="testimonials_tab" aria-selected="false">
                                Отзывы <span class="badge badge-round badge-secondary">12</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="delivery_info" data-toggle="tab" href="#delivery_info_tab"
                                role="tab" aria-controls="delivery_info_tab" aria-selected="false">
                                Доставка и оплата</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="product_description_tab" role="tabpanel"
                            aria-labelledby="product_description">
                            <div class="productDescription">
                                <div class="productDescription__heading">Описание модели</div>

                                <div class="productDescription__text">Отрезное по линии талии черное
                                    платье. Модель А-силуэта, имеет круглый вырез горловины, короткие
                                    рукава с воланом. Линия талии подчеркнута поясом. Есть подкладка. Рост
                                    фотомодели 177 см. Отрезное по линии талии черное платье. Модель
                                    А-силуэта, имеет круглый вырез горловины, короткие рукава с воланом.
                                    Линия талии подчеркнута поясом. Есть подкладка. Рост фотомодели 177 см.
                                </div>

                                <ul class="productDescription__list">
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Состав ткани:</span>
                                        <strong>Вискоза 50%, Полиэстер 50%</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Длина:</span>
                                        <strong>100 См.</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Сезон:</span>
                                        <strong>Лето, Демисезон</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Цвет:</span>
                                        <strong>Черный</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Стиль:</span>
                                        <strong>Женственный</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Фасон:</span>
                                        <strong>А-Силуэт</strong>
                                    </li>
                                    <li class="productDescription__list__item">
                                        <span class="productDescription__list__item__label">Ткань:</span>
                                        <strong>Легкая</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="testimonials_tab" role="tabpanel"
                            aria-labelledby="testimonials">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aperiam
                            fugit at provident minus ad mollitia quam. Eum, odit dolorum nulla nesciunt
                            sequi laborum sit consectetur ex, facere perspiciatis neque tempore placeat
                            in sapiente, dolores dolor doloribus! Assumenda ipsum natus ea possimus
                            ducimus! Numquam repudiandae optio obcaecati aliquid autem soluta?
                        </div>
                        <div class="tab-pane fade" id="delivery_info_tab" role="tabpanel"
                            aria-labelledby="delivery_info">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod eos
                            beatae similique, officia vero doloribus assumenda aperiam, quibusdam nemo
                            nobis odit saepe repellat. Saepe laboriosam quisquam natus. Ipsa aspernatur
                            sint, eligendi quis, quasi repellendus voluptatum, mollitia deleniti
                            consectetur sed dolore. Alias, quibusdam qui. Consequatur, culpa tenetur ad
                            doloremque iusto illum libero quam placeat sapiente quas velit adipisci
                            expedita ab facere veritatis excepturi quisquam. Maxime voluptatem quo eius
                            eaque, itaque aut blanditiis dolorum nisi a porro labore similique nesciunt
                            perspiciatis odio reiciendis. Sed ratione quis suscipit, nostrum quasi
                            veritatis repellendus adipisci dolorem qui, odio rem quam voluptatibus
                            recusandae numquam laborum.
                        </div>
                    </div>
                </div>
                <div class="order-3 d-none d-xlg-block col-xlg-3 ban_area text-right">
                    <a href="#a"><img src="./images/bn_place.jpg" alt=""></a>
                </div>
            </div>
            <div class="related_products row">
                <div class="col-xlg-12">
                    <div class="related_products__title">Другие продукты от этого продавца</div>
                </div>
                <div class="col-xlg-10 related_products__listOverflow mx-auto">
                    <div class="products_list products_list__tileList row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                    </div>
                </div>
                <div class="col-xlg-2 related_products__showMore">
                    <a href="#a" class="btn">
                        <span>
                            <svg preserveAspectRatio="xMidYMid" width="20" height="19" viewBox="0 0 20 19">
                                <use xlink:href="#icon_arrow_left_gallery" />
                            </svg>
                        </span>
                        Показать все <br> Продукты
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="vendorBlock vendorBlock_separated">
        <div class="container">
            <div class="related_products row">
                <div class="col-xlg-12">
                    <div class="related_products__title">Другие продукты от этого продавца</div>
                </div>
                <div class="col-xlg-10 related_products__listOverflow mx-auto">
                    <div class="products_list products_list__tileList row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {{> product}}
                        </div>
                    </div>
                </div>
                <div class="col-xlg-2 related_products__showMore">
                    <a href="#a" class="btn">
                        <span>
                            <svg preserveAspectRatio="xMidYMid" width="20" height="19" viewBox="0 0 20 19">
                                <use xlink:href="#icon_arrow_left_gallery" />
                            </svg>
                        </span>
                        Показать все <br> Похожие Продукты
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container subscribeBlock">
        <div class="row">
            <div class="col-lg-5 mx-auto text-center">
                <div class="subscribeBlock__image"><img src="images/subscribe_pic.png" alt="Оставайтесь в курсе Скидок и поступлений новых товаров"></div>
                <h3>Оставайтесь в курсе Скидок и поступлений новых товаров</h3>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Введите Вашу Электронную почту"
                            aria-label="Введите Вашу Электронную почту" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Подписаться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <small>Нажимая «Подписаться», я соглашаюсь получать рекламные и иные маркетинговые сообщения от
                    «Concept Store» на <a href="#b">условиях Политики конфиденциальности</a> и <a href="#a">Пользовательского
                        соглашения</a>.</small>
            </div>
        </div>
    </div>


    {{> footer}}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/nouislider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>