<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> top_baner}}
    <div class="container">
        <div class="row products_list">
            <div class="col-12 relatedProducts">
                <div class="h1 h1__se">
                    <div class="h1__title">Рекомендуемые продукты</div>
                    <small class="h1__readMore">
                        <a href="#a">Показать все <svg width="10" height="7">
                            <use xlink:href="#icon_arrow_next" /></svg></a>
                    </small>
                </div>
                <div class="grid-container grid-container2">
                    <div class="item">{{> product2 img="./images/product_related1.png"}}</div>
                    <div class="item">{{> product2 img="./images/product_related2.png" style="background-color: #e0edff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related3.png" style="background-color: #eafcff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related4.png" style="background-color: #f2e4d5;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related5.png" style="background-color: #ffffff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related6.png" style="background-color: #d4f0e0;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related5.png" style="background-color: #ffffff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related5.png" style="background-color: #ffffff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related5.png" style="background-color: #ffffff;"}}</div>
                    <div class="item">{{> product2 img="./images/product_related6.png" style="background-color: #d4f0e0;"}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wide_white_block">
        <div class="container">
            <div class="row">
                <div class="col-12 mainContent">
                    <div class="h1 h1__se">
                        <div class="h1__title">Акции и скидки</div>
                        <small class="h1__readMore">
                            <a href="#a">Показать все <svg width="10" height="7">
                            <use xlink:href="#icon_arrow_next" /></svg></a>
                        </small>
                    </div>
                    <div class="products_list products_list__tileList row">
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xlg-2">
                            {{> product}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mainContent">
                <div class="h1 h1__se">
                    <div class="h1__title">Новинки</div>
                    <small class="h1__readMore">
                        <a href="#a">Показать все <svg width="10" height="7">
                            <use xlink:href="#icon_arrow_next" /></svg></a>
                    </small>
                </div>
                <div class="products_list products_list__tileList row">
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xlg-2">
                        {{> product}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center features_info_wrap">
        <div class="row">
            <div class="col-sm-6 col-lg-3 ">
                <div class="features_info"><div class="features_info__icon">
                    <svg x="0px" y="0px" width="56" height="38" viewBox="0 0 83 56.2">
                        <style type="text/css">
                            .st0{opacity:0.2;fill:#3F72BA;}
                            .st1{fill:#FFFFFF;}
                            .st2{fill:#B8D4FF;}
                            .st3{fill:#717791;}
                            .st4{fill:#FDD1BE;}
                            .st5{fill:#FD9A9A;}
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M80.2,56.2H11.9c-1.5,0-2.7-1.2-2.7-2.7v-44c0-1.5,1.2-2.7,2.7-2.7h68.3C81.8,6.7,83,8,83,9.5v44
                                C83,55,81.8,56.2,80.2,56.2z"/>
                            <path class="st1" d="M74,5.7v41c0,2.3-1.9,4.2-4.2,4.2H5.4c-2.3,0-4.2-1.9-4.2-4.2v-41c0-1,0.3-1.9,0.9-2.6c0.8-1,2-1.7,3.3-1.7
                                h64.4C72.1,1.5,74,3.4,74,5.7z"/>
                            <path class="st2" d="M74,10.4v38.4c-0.8,1-2,1.7-3.4,1.7H5.3c-2.3,0-4.2-1.9-4.2-4.2V7.8c0.8-1,2-1.7,3.4-1.7h65.3
                                C72.1,6.1,74,8,74,10.4z"/>
                            <g>
                                <path class="st3" d="M0,19.2l0-14.3C0.1,3.4,0.9,2,2,1.1c0.6-0.4,1.2-0.8,2-1C4.4,0.1,4.7,0,5.1,0C5.4,0,5.7,0,6,0h7.1h28.5h28.5
                                    l0.5,0c0.2,0,0.4,0,0.5,0c0.4,0,0.7,0.1,1.1,0.2c0.7,0.2,1.3,0.6,1.9,1.1c1.1,1,1.7,2.5,1.7,3.9v7.1v14.3v14.3v3.6l0,1.8
                                    c0,0.7-0.2,1.5-0.5,2.1c-0.6,1.3-1.8,2.4-3.2,2.8c-0.7,0.2-1.5,0.2-2,0.2h-1.8H39.7H11.2H7.6H5.9c-0.5,0-1.3,0-2-0.2
                                    c-1.4-0.4-2.6-1.4-3.3-2.7c-0.3-0.7-0.5-1.4-0.5-2.1l0-1.8c0-4.8,0.1-9.5,0.5-14.3c0-0.3,0.3-0.5,0.6-0.5c0.3,0,0.5,0.2,0.5,0.5
                                    C2,35,2.1,39.8,2,44.5l0,1.8c0,0.5,0.1,0.9,0.3,1.3c0.4,0.8,1.2,1.5,2,1.7c0.5,0.1,0.9,0.1,1.5,0.1h1.8h3.6h28.5h28.5H70
                                    c0.7,0,1,0,1.5-0.1c0.9-0.3,1.6-0.9,2-1.7c0.2-0.4,0.3-0.9,0.3-1.3l0-1.8v-3.6V26.7V12.4V5.3c0-1-0.4-1.8-1.1-2.5
                                    c-0.3-0.3-0.7-0.5-1.2-0.7C71.4,2,71.2,2,71,2l-0.3,0l-0.4,0H41.7H13.1H6c-0.3,0-0.6,0-0.9,0C4.9,2,4.7,2,4.5,2
                                    C4,2.2,3.6,2.4,3.2,2.6C2.5,3.2,2.1,4.1,2,5l0,14.2c0,0.5-0.4,1-1,1C0.5,20.2,0,19.7,0,19.2L0,19.2z"/>
                            </g>
                            <rect x="1" y="12.7" class="st3" width="73.8" height="7.9"/>
                            <g>
                                <path class="st3" d="M6.6,32.7c2-0.4,4.1-0.4,6.1-0.5c2,0,4.1,0,6.1,0c2,0,4.1,0.1,6.1,0.1c2,0,4.1,0.2,6.1,0.3
                                    c0.5,0,0.9,0.5,0.9,1c0,0.5-0.4,0.9-0.9,0.9c-2,0.1-4.1,0.2-6.1,0.3c-2,0.1-4.1,0.1-6.1,0.1c-2,0-4.1,0-6.1,0
                                    c-2,0-4.1-0.1-6.1-0.5c-0.5-0.1-0.9-0.6-0.8-1.1C5.9,33,6.2,32.7,6.6,32.7z"/>
                            </g>
                            <g>
                                <path class="st3" d="M6.3,40.4c1.2-0.2,2.4-0.2,3.6-0.2c1.2,0,2.4,0.1,3.6,0.2c0.5,0.1,0.9,0.5,0.9,1.1c0,0.5-0.4,0.8-0.9,0.9
                                    c-1.2,0.1-2.4,0.2-3.6,0.2c-1.2,0-2.4,0-3.6-0.2c-0.5-0.1-0.9-0.6-0.8-1.1C5.6,40.8,5.9,40.5,6.3,40.4z"/>
                            </g>
                            <g>
                                <path class="st3" d="M17.7,40.4c0.6-0.1,1.2-0.2,1.8-0.2c0.6,0,1.2-0.1,1.8-0.1c1.2,0,2.4,0.1,3.6,0.3c0.5,0.1,0.9,0.6,0.8,1.1
                                    c-0.1,0.4-0.4,0.7-0.8,0.8c-1.2,0.2-2.4,0.3-3.6,0.3c-0.6,0-1.2,0-1.8-0.1c-0.6,0-1.2-0.1-1.8-0.2c-0.5-0.1-0.9-0.6-0.8-1.2
                                    C17,40.8,17.3,40.5,17.7,40.4z"/>
                            </g>
                            <g>
                                <path class="st3" d="M29,40.4c1.2-0.2,2.4-0.2,3.6-0.2c1.2,0,2.4,0,3.6,0.2c0.5,0.1,0.9,0.7,0.7,1.2c-0.1,0.4-0.4,0.7-0.7,0.7
                                    c-1.2,0.3-2.4,0.3-3.6,0.2c-1.2,0-2.4-0.1-3.6-0.2c-0.5-0.1-0.9-0.6-0.8-1.1C28.2,40.8,28.6,40.4,29,40.4z"/>
                            </g>
                            <g>
                                <path class="st3" d="M40.3,40.4c1.2-0.2,2.4-0.2,3.6-0.2c1.2,0,2.4-0.1,3.6,0.2c0.5,0.1,0.9,0.7,0.7,1.2c-0.1,0.4-0.4,0.6-0.7,0.7
                                    c-1.2,0.3-2.4,0.3-3.6,0.2c-1.2,0-2.4-0.1-3.6-0.2c-0.5-0.1-0.9-0.6-0.9-1.1C39.5,40.8,39.9,40.4,40.3,40.4z"/>
                            </g>
                            <circle class="st4" cx="64.7" cy="39.7" r="4.2"/>
                            <circle class="st5" cx="59" cy="39.7" r="4.2"/>
                        </g>
                    </svg>
                </div>
                <div class="features_info__heading">Безопасная оплата</div>
                <div class="features_info__text">Совершайте платежи с популярными и безопасными методами</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 ">
                <div class="features_info"><div class="features_info__icon">
                    <svg x="0px" y="0px" width="62" height="51" viewBox="0 0 104.9 86.3">
                        <style type="text/css">
                            .st0{fill:#FFFFFF;}
                            .st1{fill:#717791;}
                            .st2{fill:#E5EEFD;}
                            .st3{fill:none;stroke:#717791;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            .st4{fill:#B8D4FF;}
                            .st5{fill:#FF9A9A;}
                            .st6{fill:#FF9A9A;stroke:#717791;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            .st7{fill:#FFFFFF;stroke:#C9D7ED;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            .st8{fill:#C6C9D3;}
                            .st9{fill:#FD8989;}
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M94.1,13.4v68.3c0,1.8-1.5,3.3-3.3,3.3H16.9c-1,0-2-0.5-2.6-1.2c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.2-0.2-0.2
                                c-0.3-0.5-0.5-1.1-0.5-1.8V13.4c0-0.7,0.2-1.3,0.5-1.8c0.1-0.1,0.1-0.2,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0.6-0.7,1.5-1.2,2.6-1.2h73.8
                                C92.6,10,94.1,11.5,94.1,13.4z"/>
                            <g>
                                <path class="st0" d="M13.6,35.6V13.4c0-0.7,0.2-1.3,0.5-1.8c0.1-0.1,0.1-0.2,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0.6-0.7,1.5-1.2,2.6-1.2
                                    h73.8c1.8,0,3.3,1.5,3.3,3.3v68.3c0,1.8-1.5,3.3-3.3,3.3H16.9c-1,0-2-0.5-2.6-1.2c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.2-0.2-0.2
                                    c-0.3-0.5-0.5-1.1-0.5-1.8V43.4"/>
                                <path class="st1" d="M13,35.6c-1.2-6.2-0.6-12.4-0.7-18.6l0-2.3l0-1.2c0-0.5,0.1-1,0.2-1.5c0.3-1,1-1.9,1.9-2.5
                                    c0.5-0.3,1-0.5,1.5-0.6c0.3-0.1,0.5-0.1,0.8-0.1l0.6,0l9.3,0l37.2,0l18.6,0l4.6,0l2.3,0l1.2,0c0.2,0,0.5,0,0.7,0
                                    c0.3,0,0.5,0.1,0.8,0.2c1,0.3,1.9,1,2.5,1.9c0.3,0.4,0.5,0.9,0.6,1.5c0.1,0.5,0.1,1.1,0.1,1.5l0,4.6l0,37.2l0,18.6l0,4.6l0,2.3
                                    l0,0.6c0,0.3,0,0.5-0.1,0.8c-0.1,0.5-0.3,1-0.6,1.5c-0.5,0.9-1.4,1.7-2.4,2c-0.5,0.2-1.1,0.3-1.6,0.3l-1.2,0l-4.6,0l-37.2,0
                                    l-18.6,0l-9.3,0l-2.3,0l-0.6,0c-0.2,0-0.5,0-0.8-0.1c-0.5-0.1-1-0.3-1.5-0.5c-0.9-0.5-1.7-1.4-2-2.4c-0.2-0.5-0.3-1-0.3-1.6l0-1.2
                                    l0-18.6l0-9.3c0.1-3.1-0.2-6.2,0.5-9.3c0.1-0.4,0.5-0.7,0.9-0.6c0.3,0.1,0.5,0.3,0.6,0.6c0.7,3.1,0.5,6.2,0.5,9.3l0,9.3l0,18.6
                                    l0,1.1c0,0.2,0.1,0.5,0.1,0.7c0.2,0.5,0.5,0.8,0.9,1.1c0.2,0.1,0.4,0.2,0.7,0.2c0.1,0,0.2,0,0.4,0l0.6,0l2.3,0l9.3,0l18.6,0
                                    l37.2,0l4.6,0l1.2,0c0.3,0,0.5,0,0.7-0.1c0.4-0.2,0.8-0.5,1.1-0.9c0.1-0.2,0.2-0.4,0.3-0.7c0-0.1,0-0.2,0-0.4l0-0.6l0-2.3l0-4.6
                                    l0-18.6l0-37.2l0-4.6c0-0.5,0-0.6-0.1-0.9c-0.1-0.2-0.1-0.5-0.3-0.6c-0.3-0.4-0.7-0.7-1.1-0.8c-0.1,0-0.2-0.1-0.3-0.1
                                    c-0.1,0-0.2,0-0.4,0l-1.2,0l-2.3,0l-4.6,0l-18.6,0l-37.2,0l-9.3,0l-0.5,0c-0.1,0-0.2,0-0.4,0c-0.2,0-0.5,0.1-0.7,0.3
                                    c-0.4,0.3-0.7,0.7-0.9,1.1c-0.1,0.2-0.1,0.4-0.1,0.8l0,1.2l0,2.3c-0.1,6.2,0.5,12.4-0.7,18.6c-0.1,0.3-0.4,0.5-0.7,0.4
                                    C13.2,36,13,35.8,13,35.6z"/>
                            </g>
                            <polyline class="st2" points="93.8,70 80.3,70.3 79.3,72.1 78.7,83.8 81.4,82.3 94.3,69.6 	"/>
                            <path class="st3" d="M94.1,81.7"/>
                            <path class="st3" d="M94.1,13.4"/>
                            <g>
                                <path class="st4" d="M13.6,27.8V13.4c0-1.8,1.5-3.3,3.3-3.3h73.8c1.8,0,3.3,1.5,3.3,3.3v14.4H29.7"/>
                                <path class="st1" d="M12.4,27.8l0-14.1c0-0.2,0-0.7,0.1-1.1c0.1-0.4,0.2-0.8,0.4-1.1c0.3-0.7,0.9-1.3,1.5-1.8
                                    c0.7-0.4,1.4-0.7,2.2-0.8l0.3,0l0.2,0l0.4,0l0.9,0l7.1,0l28.3,0l28.3,0l7.1,0l0.9,0l0.4,0l0.2,0l0.3,0c0.8,0,1.6,0.3,2.3,0.8
                                    c0.7,0.5,1.2,1.1,1.6,1.8c0.2,0.4,0.3,0.8,0.4,1.1c0.1,0.4,0.1,0.9,0.1,1.1l0,14.1l0,0c0,0.7-0.6,1.3-1.3,1.3L78,29.1l-16.1,0
                                    l-16.1,0l-8,0c-2.7,0-5.4-0.1-8-0.4c-0.5-0.1-0.8-0.5-0.7-0.9c0-0.4,0.4-0.7,0.7-0.7c2.7-0.3,5.4-0.4,8-0.4l8,0l16.1,0l16.1,0
                                    l16.1,0.1l-1.3,1.3v0l0-14.1c0-0.3,0-0.4,0-0.7c0-0.2-0.1-0.4-0.2-0.5c-0.2-0.3-0.4-0.6-0.7-0.8c-0.3-0.2-0.7-0.3-1-0.4l-0.1,0
                                    l-0.2,0l-0.4,0l-0.9,0l-7.1,0l-28.3,0l-28.3,0l-7.1,0l-0.9,0l-0.4,0l-0.2,0l-0.1,0c-0.4,0-0.7,0.2-1.1,0.4
                                    c-0.3,0.2-0.6,0.5-0.7,0.9c-0.1,0.2-0.1,0.4-0.2,0.5c0,0.2,0,0.3,0,0.7l0,14.1c0,0.7-0.5,1.2-1.2,1.2C12.9,29,12.4,28.5,12.4,27.8
                                    z"/>
                            </g>
                            <g>
                                <line class="st5" x1="25.2" y1="27.8" x2="23.4" y2="27.8"/>
                                <path class="st1" d="M25.2,28.7c-0.3,0.3-0.6,0.4-0.9,0.4c-0.3,0-0.6,0-0.9-0.7c-0.1-0.4-0.1-0.7,0-1.1c0.3-0.8,0.6-0.7,0.9-0.7
                                    c0.3,0,0.6,0.1,0.9,0.4C25.7,27.4,25.7,28.2,25.2,28.7C25.2,28.7,25.2,28.7,25.2,28.7z"/>
                            </g>
                            <circle class="st0" cx="31.7" cy="18" r="2.9"/>
                            <circle class="st0" cx="77.6" cy="18" r="2.9"/>
                            <g>
                                <path class="st1" d="M34.3,21.2c-0.5,0.8-1.4,1.3-2.5,1.6c-1,0.1-2.1-0.2-2.9-0.8c-0.9-0.6-1.5-1.5-1.8-2.5
                                    c-0.3-1-0.3-2.1,0.1-3.1c0.7-2,3-3.3,5-2.9c2.1,0.3,3.6,2.3,3.3,4.1c0,0.3-0.3,0.5-0.6,0.4c-0.2,0-0.3-0.1-0.4-0.3l0,0
                                    c-0.6-1.2-1.6-1.9-2.6-1.9c-1-0.1-1.9,0.6-2.3,1.5c-0.3,0.9-0.1,2,0.8,2.6c0.4,0.3,0.9,0.4,1.4,0.4c0.5,0.1,1.1,0.1,1.7-0.2l0.1,0
                                    c0.4-0.2,0.8,0,0.9,0.4C34.5,20.7,34.5,21,34.3,21.2z"/>
                            </g>
                            <g>
                                <path class="st1" d="M80.3,21.2c-0.5,0.8-1.4,1.3-2.5,1.6c-1,0.1-2.1-0.2-2.9-0.8c-0.9-0.6-1.5-1.5-1.8-2.5
                                    c-0.3-1-0.3-2.1,0.1-3.1c0.7-2,3-3.3,5-2.9c2.1,0.3,3.6,2.3,3.3,4.1c0,0.3-0.3,0.5-0.6,0.4c-0.2,0-0.3-0.1-0.4-0.3l0,0
                                    c-0.6-1.2-1.6-1.9-2.6-1.9c-1-0.1-1.9,0.6-2.3,1.5c-0.3,0.9-0.1,2,0.8,2.6c0.4,0.3,0.9,0.4,1.4,0.4c0.5,0.1,1.1,0.1,1.7-0.2l0.1,0
                                    c0.4-0.2,0.8,0,0.9,0.4C80.5,20.7,80.4,21,80.3,21.2z"/>
                            </g>
                            <line class="st6" x1="31.5" y1="18" x2="31.5" y2="1.7"/>
                            <line class="st6" x1="77.6" y1="18" x2="77.6" y2="1.7"/>
                            <line class="st7" x1="81.1" y1="1.3" x2="103.7" y2="1.3"/>
                            <line class="st7" x1="36.9" y1="1.3" x2="73.5" y2="1.3"/>
                            <line class="st7" x1="1.3" y1="1.3" x2="26.6" y2="1.3"/>
                            <path class="st8" d="M36.2,42.6L36.2,42.6c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C39.5,41.1,38,42.6,36.2,42.6z"/>
                            <path class="st8" d="M47.5,42.6L47.5,42.6c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C50.8,41.1,49.3,42.6,47.5,42.6z"/>
                            <path class="st8" d="M58.8,42.6L58.8,42.6c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C62,41.1,60.6,42.6,58.8,42.6z"/>
                            <path class="st8" d="M70.1,42.6L70.1,42.6c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C73.3,41.1,71.9,42.6,70.1,42.6z"/>
                            <path class="st8" d="M81.3,42.6L81.3,42.6c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C84.6,41.1,83.2,42.6,81.3,42.6z"/>
                            <path class="st8" d="M24.9,53.8L24.9,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C28.2,52.3,26.7,53.8,24.9,53.8z"/>
                            <path class="st8" d="M36.2,53.8L36.2,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C39.5,52.3,38,53.8,36.2,53.8z"/>
                            <path class="st8" d="M47.5,53.8L47.5,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C50.8,52.3,49.3,53.8,47.5,53.8z"/>
                            <path class="st8" d="M58.8,53.8L58.8,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C62,52.3,60.6,53.8,58.8,53.8z"/>
                            <path class="st8" d="M70.1,53.8L70.1,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C73.3,52.3,71.9,53.8,70.1,53.8z"/>
                            <path class="st8" d="M81.3,53.8L81.3,53.8c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C84.6,52.3,83.2,53.8,81.3,53.8z"/>
                            <path class="st8" d="M24.9,64.9L24.9,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C28.2,63.5,26.7,64.9,24.9,64.9z"/>
                            <path class="st8" d="M36.2,64.9L36.2,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C39.5,63.5,38,64.9,36.2,64.9z"/>
                            <path class="st8" d="M47.5,64.9L47.5,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C50.8,63.5,49.3,64.9,47.5,64.9z"/>
                            <path class="st8" d="M58.8,64.9L58.8,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C62,63.5,60.6,64.9,58.8,64.9z"/>
                            <path class="st8" d="M70.1,64.9L70.1,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C73.3,63.5,71.9,64.9,70.1,64.9z"/>
                            <path class="st8" d="M81.3,64.9L81.3,64.9c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C84.6,63.5,83.2,64.9,81.3,64.9z"/>
                            <path class="st8" d="M24.9,76.1L24.9,76.1c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C28.2,74.6,26.7,76.1,24.9,76.1z"/>
                            <path class="st8" d="M36.2,76.1L36.2,76.1c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C39.5,74.6,38,76.1,36.2,76.1z"/>
                            <path class="st8" d="M47.5,76.1L47.5,76.1c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C50.8,74.6,49.3,76.1,47.5,76.1z"/>
                            <path class="st8" d="M58.8,76.1L58.8,76.1c-1.8,0-3.3-1.5-3.3-3.3v0c0-1.8,1.5-3.3,3.3-3.3h0c1.8,0,3.3,1.5,3.3,3.3v0
                                C62,74.6,60.6,76.1,58.8,76.1z"/>
                            <g>
                                <path class="st9" d="M40.7,55.3c-1.1,1.3-2.7,2.1-4.5,2.4c-1.8,0.1-3.6-0.4-5-1.4c-1.5-1-2.6-2.5-3.1-4.2
                                    c-0.5-1.7-0.5-3.6,0.2-5.3c1.2-3.4,5-5.6,8.5-5c1.7,0.2,3.4,1.2,4.5,2.5c1.1,1.3,1.7,3,1.7,4.6c0,0.3-0.2,0.5-0.5,0.5
                                    c-0.2,0-0.4-0.2-0.5-0.4l0,0c-0.7-2.7-3-4.6-5.5-4.8c-2.5-0.3-4.9,1.3-5.8,3.6c-0.4,1.1-0.5,2.4-0.1,3.6c0.4,1.2,1.1,2.2,2.1,2.9
                                    c1,0.7,2.2,1.1,3.5,1c1.2,0.1,2.5-0.3,3.7-1l0,0c0.3-0.2,0.8-0.1,1,0.2C40.9,54.7,40.9,55.1,40.7,55.3z"/>
                            </g>
                            <g>
                                <path class="st9" d="M72.1,54.3c1.7,0.1,3.3,0.9,4.6,2.2c1.1,1.3,1.8,3.1,1.9,4.9c0.1,1.8-0.5,3.6-1.5,5c-1.1,1.4-2.6,2.5-4.3,3
                                    c-3.5,1-7.5-0.7-9.1-3.9c-0.8-1.6-1.1-3.4-0.7-5.1c0.4-1.7,1.4-3.2,2.7-4.1c0.2-0.2,0.5-0.1,0.7,0.1c0.1,0.2,0.1,0.4,0,0.6l0,0
                                    c-1.8,2.2-1.9,5.2-0.6,7.3c1.2,2.2,4,3.2,6.3,2.6c1.2-0.3,2.2-1,3-2c0.7-1,1.1-2.2,1.1-3.4c0-1.2-0.5-2.4-1.3-3.4
                                    c-0.6-1.1-1.7-1.9-3-2.4l0,0c-0.4-0.1-0.6-0.5-0.4-0.9C71.5,54.5,71.8,54.3,72.1,54.3z"/>
                            </g>
                            <g>
                                <path class="st1" d="M95,70.7L79.8,85.9c-0.5,0.5-1.3,0.5-1.8,0c-0.2-0.2-0.4-0.6-0.4-0.9l0-12c0-1.4,0.7-2.7,1.8-3.5
                                    c0.5-0.4,1.2-0.7,1.8-0.9c0.3-0.1,0.7-0.1,1-0.1l0.7,0c1,0,2,0,3,0.2c1,0.1,2,0.3,3,0.5c0.3,0.1,0.5,0.4,0.5,0.7
                                    c-0.1,0.2-0.2,0.4-0.5,0.5c-1,0.2-2,0.4-3,0.5c-1,0.1-2,0.2-3,0.2l-0.7,0c-0.2,0-0.3,0-0.5,0c-0.3,0.1-0.6,0.2-0.8,0.4
                                    c-0.5,0.4-0.8,1-0.8,1.6l0,11.9L78,84.1l15.2-15.2c0.5-0.5,1.3-0.5,1.8,0S95.5,70.2,95,70.7z"/>
                            </g>
                            <path class="st4" d="M93.2,72v9.7c0,1.3-1.1,2.4-2.4,2.4h-9.6C84.2,81.1,89.8,75.4,93.2,72z"/>
                        </g>
                    </svg>
                </div>
                <div class="features_info__heading">Возврат в течение 30 дней</div>
                <div class="features_info__text">Мы гарантируем возврат товара, если он не соответствует описанию или плохого качества</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 ">
                <div class="features_info"><div class="features_info__icon">
                <svg x="0px" y="0px" width="41" height="51" viewBox="0 0 68.6 82.4">
                        <style type="text/css">
                            .st0{fill:#B8D4FF;stroke:#717791;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                            .st1{fill:#B8D4FF;}
                            .st2{fill:#717791;}
                            .st3{fill:#FFFFFF;stroke:#717791;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M15.6,50.7h-4.2c-5.5,0-9.9-4.4-9.9-9.9v0c0-5.5,4.4-9.9,9.9-9.9h4.2V50.7z"/>
                            <path class="st1" d="M53.4,50.7h4.2c5.5,0,9.9-4.4,9.9-9.9v0c0-5.5-4.4-9.9-9.9-9.9h-4.2V50.7z"/>
                            <g>
                                <path class="st2" d="M65.4,35.6c-1.1-0.6-1.8-1.3-2.7-1.8c-0.9-0.5-1.8-0.9-2.8-1.2c-0.5-0.1-1-0.2-1.5-0.2c-0.5,0-1,0-1.6,0
                                    c-1.2,0-2.3,0-3.5,0l0,0l1.5-1.5c0,6.6,0,13.2,0,19.9l-1.5-1.5l2.6,0c0.9,0,1.8,0,2.4,0c0.7-0.1,1.4-0.3,2.2-0.4
                                    c0.7-0.2,1.5-0.3,2.5-0.3l0,0c0.3,0,0.6,0.3,0.6,0.6c0,0.1,0,0.2,0,0.2c-0.4,1-1.2,1.7-2.1,2.1c-0.9,0.5-1.9,0.7-2.9,0.8
                                    c-1,0.1-1.9,0-2.7,0l-2.6,0c-0.8,0-1.5-0.7-1.5-1.5v0v0c0-6.6-0.1-13.2,0-19.9c0-0.8,0.7-1.5,1.5-1.5l0,0l0,0c1.2,0,2.3,0,3.5,0
                                    c0.5,0,1.2,0,1.9,0.1c0.7,0.1,1.3,0.2,2,0.5c1.3,0.4,2.5,1.1,3.5,1.9c1,0.8,1.9,1.9,2.1,3.3c0.1,0.3-0.2,0.6-0.5,0.7
                                    C65.7,35.8,65.6,35.7,65.4,35.6L65.4,35.6z"/>
                            </g>
                            <g>
                                <path class="st2" d="M65.9,44.3c0-0.8,0.2-1.4,0.3-2.1l0.2-1c0.1-0.3,0.1-0.7,0.2-1l0-0.1c0.1-0.5,0.7-0.8,1.2-0.7
                                    c0.3,0.1,0.6,0.4,0.7,0.7c0.2,0.8,0.3,1.7,0.1,2.6c-0.1,0.9-0.4,1.7-1,2.4c-0.3,0.4-0.9,0.4-1.3,0.1C66,44.9,65.9,44.6,65.9,44.3
                                    L65.9,44.3z"/>
                            </g>
                            <g>
                                <path class="st2" d="M55.7,26.6c0-1,0-2,0-2.9l-0.1-1.4c0-0.5-0.1-0.9-0.2-1.3c-0.2-1.8-0.8-3.5-1.5-5.2c-1.5-3.3-3.7-6.3-6.6-8.5
                                    c-1.4-1.2-3-2-4.7-2.7c-1.7-0.6-3.4-1.2-5.2-1.4c-1.8-0.3-3.6-0.3-5.4-0.1l-1.3,0.2L30,3.4l-0.7,0.2L28,3.9l-1.3,0.5
                                    c-3.4,1.2-6.4,3.5-8.8,6.2c-2.3,2.8-3.9,6.1-4.6,9.7C13.2,21.2,13,22.1,13,23l-0.1,1.4l0,1.5l0,5.8c0,1.9,0.1,3.9,0.2,5.8
                                    c0,1.9,0.1,3.9-0.5,5.8c-0.2,0.7-0.9,1-1.5,0.8c-0.4-0.1-0.7-0.4-0.8-0.8c-0.6-1.9-0.5-3.9-0.5-5.8c0.1-1.9,0.2-3.9,0.2-5.8l0-5.8
                                    l0-1.5l0.1-1.5c0-1,0.2-2,0.4-3.1c0.8-4.1,2.6-7.9,5.3-11.1c2.7-3.1,6.1-5.7,10-7.1l1.5-0.5l1.5-0.4l0.7-0.2l0.8-0.1l1.5-0.2
                                    c2.1-0.2,4.1-0.2,6.2,0.1c2.1,0.2,4,0.9,6,1.6c1.9,0.9,3.7,1.8,5.3,3.1c3.3,2.5,5.9,5.9,7.6,9.6c0.8,1.9,1.4,3.9,1.7,5.9
                                    c0.1,0.5,0.2,1,0.2,1.5l0.1,1.5c0.1,1,0,2,0,2.9c0,0.8-0.6,1.5-1.5,1.5S55.7,27.5,55.7,26.6L55.7,26.6L55.7,26.6z"/>
                            </g>
                            <g>
                                <path class="st2" d="M34.3,76.5c4.7-0.1,9.4-1.6,13-4.5c1.8-1.4,3.5-3.2,4.8-5.1c1.3-1.9,2.2-4.1,2.8-6.4c0.3-1.1,0.5-2.3,0.6-3.4
                                    l0.1-1.8c0-0.6,0-1.2,0-1.9l0-7.5l0-7.5c0-1.3,0-2.5,0.1-3.8c0.1-1.3,0.1-2.5,0.5-3.8c0.2-0.5,0.7-0.8,1.2-0.6
                                    c0.3,0.1,0.5,0.3,0.6,0.6c0.4,1.3,0.4,2.5,0.5,3.8c0.1,1.3,0.1,2.5,0.1,3.8l0,7.5l0,7.5c0,0.6,0,1.2,0,1.9l-0.1,2
                                    c-0.2,1.3-0.3,2.7-0.7,3.9c-0.7,2.6-1.7,5.1-3.2,7.3c-1.5,2.2-3.3,4.2-5.4,5.9c-4.2,3.3-9.6,5-14.9,5.1c-0.8,0-1.5-0.7-1.5-1.5
                                    C32.8,77.2,33.4,76.5,34.3,76.5L34.3,76.5z"/>
                            </g>
                            <path class="st3" d="M39.7,80.9H32c-1.6,0-3-1.3-3-3l0,0c0-1.6,1.3-3,3-3h7.6c1.6,0,3,1.3,3,3l0,0C42.6,79.6,41.3,80.9,39.7,80.9z"/>
                        </g>
                    </svg>
                </div>
                <div class="features_info__heading">Ответ в течение 24 часов</div>
                <div class="features_info__text">Мы ответим на все ваши вопросы в течение 24 ч.</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 ">
                <div class="features_info"><div class="features_info__icon">
                    <svg version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                    x="0px" y="0px" width="87" height="38" viewBox="0 0 146.1 63.1" style="enable-background:new 0 0 146.1 63.1;"
                    xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#E5EEFD;}
                            .st1{fill:#FFFFFF;}
                            .st2{fill:#717791;}
                            .st3{fill:#B8D4FF;}
                            .st4{fill:#9FC3FD;}
                        </style>
                        <defs>
                        </defs>
                        <g>
                            <path class="st0" d="M144.8,35l-4.6,12.1c0,2.8-2.3,5.2-5.2,5.2H38.5l4.6-51h67.6v7.5h16.3c4.5,0,8.3,3.3,8.8,7.8l1.6,12.3h1.1
                                C142,28.8,144.8,31.6,144.8,35z"/>
                            <path class="st1" d="M144.8,35l-4.6,12.1c0,2.8-2.3,5.2-5.2,5.2h-29.2l4.6-46h0.3v2.4h16.3c4.5,0,8.3,3.3,8.8,7.8l1.6,12.3h1.1
                                C142,28.8,144.8,31.6,144.8,35z"/>
                            <g>
                                <path class="st2" d="M103.7,53c-2.7,0.4-5.4,0.5-8.2,0.5l-8.2,0l-16.3,0.1l-16.3,0l-16.3-0.1l0,0c-0.7,0-1.2-0.6-1.2-1.2
                                    c0,0,0-0.1,0-0.1v0l4.6-51C41.9,0.5,42.4,0,43.1,0h67.6c0.7,0,1.2,0.6,1.2,1.2v7.5l-1.2-1.2h10.4h5.2h0.6l0.7,0
                                    c0.5,0,1,0.1,1.5,0.2c1,0.2,1.9,0.6,2.8,1c1.7,0.9,3.2,2.4,4.1,4.1c0.5,0.9,0.8,1.8,1,2.8l0.1,0.7l0.1,0.6l0.2,1.3l1.4,10.3
                                    l-0.9-1c1.2,0.3,2.3,0.7,3.3,1.1l0.8,0.3c0.3,0.1,0.5,0.2,0.9,0.4c0.6,0.3,1.2,0.7,1.7,1.2c1,1,1.6,2.4,1.7,3.8c0,0.4,0,0.7,0,1.1
                                    c-0.1,0.4-0.1,0.7-0.2,1l-0.4,1.7c-0.6,2.2-1.3,4.4-2.2,6.6c-0.9,2.2-1.9,4.2-3.3,6.3c-0.4,0.5-1,1.1-1.7,1.4
                                    c-0.3,0.2-0.6,0.3-1,0.4l-0.9,0.3c-1.2,0.2-2.4,0.4-3.6,0.4c-2.3,0.1-4.6,0.1-6.8,0.2l-13.6-0.1c-0.7,0-1.2-0.6-1.2-1.2
                                    c0-0.7,0.6-1.2,1.2-1.2l0,0l13.5,0.1c2.2,0,4.5,0,6.7-0.1c1.1-0.1,2.2-0.2,3.2-0.4l0.7-0.2c0.2-0.1,0.4-0.2,0.6-0.3
                                    c0.3-0.2,0.6-0.4,0.9-0.8c1.2-1.6,2.2-3.7,3-5.7c0.8-2,1.5-4.2,2.1-6.3l0.4-1.6c0.1-0.3,0.1-0.5,0.1-0.7c0-0.2,0-0.4,0-0.6
                                    c0-0.8-0.4-1.6-1-2.2c-0.3-0.3-0.6-0.5-1-0.7c-0.2-0.1-0.5-0.2-0.7-0.3l-0.8-0.3c-1-0.4-2.1-0.8-3.1-1l0,0c-0.5-0.1-0.9-0.6-0.9-1
                                    l-1.4-10.3l-0.2-1.3l-0.1-0.6l-0.1-0.6c-0.2-0.7-0.4-1.4-0.7-2.1c-0.7-1.3-1.8-2.4-3.1-3.1c-0.6-0.4-1.3-0.6-2.1-0.8
                                    c-0.4-0.1-0.7-0.1-1.1-0.2l-0.6,0h-0.6h-5.2h-10.4c-0.7,0-1.2-0.6-1.2-1.2V1.2l1.2,1.2H43.1l1.2-1.1l-4.6,51v0L38.5,51l16.3-0.1
                                    l16.3,0L87.4,51l8.2,0c2.7,0,5.4,0.1,8.2,0.5c0.4,0.1,0.6,0.4,0.6,0.8C104.2,52.7,104,52.9,103.7,53z"/>
                            </g>
                            <g>
                                <path class="st2" d="M107.7,28.5c-0.3-4.6,0-9.2,0.4-13.8c0.2-2.3,0.4-4.6,0.6-6.8c0.2-2.3,0.5-4.6,0.8-6.8
                                    c0.1-0.7,0.7-1.2,1.4-1.1c0.6,0.1,1.1,0.7,1.1,1.3c-0.1,2.3-0.3,4.6-0.5,6.8c-0.2,2.3-0.4,4.6-0.7,6.8c-0.5,4.5-1.1,9.1-2.3,13.6
                                    c-0.1,0.2-0.3,0.3-0.5,0.3C107.8,28.9,107.7,28.7,107.7,28.5z"/>
                            </g>
                            <g>
                                <path class="st1" d="M125.5,45.7c1.6,1.7,2.5,4,2.5,6.5c0,5.3-4.3,9.6-9.6,9.6s-9.6-4.3-9.6-9.6s4.3-9.6,9.6-9.6
                                    c1,0,1.9,0.1,2.8,0.4"/>
                                <path class="st2" d="M125.8,45.4c2.1,1.4,3.2,4,3.3,6.6c0.1,2.6-0.8,5.2-2.4,7.2c-1.6,2-4,3.4-6.6,3.8c-2.6,0.4-5.3-0.1-7.5-1.5
                                    c-2.2-1.4-3.9-3.6-4.6-6.1c-0.8-2.5-0.5-5.3,0.6-7.6c1.1-2.4,3.1-4.3,5.5-5.3c1.2-0.5,2.5-0.8,3.8-0.9c1.3-0.1,2.6,0.2,3.7,1
                                    c0.3,0.2,0.4,0.6,0.2,0.9c-0.1,0.2-0.3,0.3-0.5,0.3l0,0c-1.1,0.1-2.2,0.1-3.2,0.2c-1,0.1-2,0.3-2.9,0.8c-1.8,0.8-3.3,2.4-4.2,4.2
                                    c-0.8,1.8-1,3.9-0.4,5.9c0.6,1.9,1.9,3.6,3.5,4.7c1.7,1.1,3.8,1.5,5.7,1.2c2-0.3,3.9-1.3,5.2-2.9c1.3-1.5,2-3.6,2-5.6
                                    c-0.1-2.1-0.8-4-1.8-6l0,0c-0.1-0.2,0-0.5,0.2-0.7C125.5,45.2,125.7,45.3,125.8,45.4z"/>
                            </g>
                            <circle class="st3" cx="118.4" cy="52.2" r="4.7"/>
                            <g>
                                <path class="st1" d="M50.2,47.5c1.6-2.9,4.8-4.9,8.4-4.9c5.3,0,9.6,4.3,9.6,9.6s-4.3,9.6-9.6,9.6S49,57.5,49,52.2"/>
                                <path class="st2" d="M49.5,47.1c1.2-2.2,3.2-4.1,5.6-5c2.4-1,5.2-0.9,7.6,0.1c2.4,1,4.5,2.9,5.6,5.2c1.2,2.3,1.5,5.1,0.8,7.6
                                    c-0.7,2.5-2.3,4.8-4.4,6.3c-2.2,1.5-4.9,2.1-7.5,1.8c-2.6-0.3-5.1-1.6-6.8-3.6c-1.7-2-2.7-4.6-2.7-7.2c0-0.7,0.6-1.2,1.2-1.2
                                    c0.7,0,1.2,0.6,1.2,1.2l0,0c0,2,0.8,4,2.1,5.5c1.3,1.5,3.2,2.5,5.2,2.8c2,0.3,4.1-0.2,5.7-1.3c1.7-1.1,2.9-2.9,3.4-4.8
                                    c0.5-1.9,0.3-4.1-0.6-5.9c-0.9-1.8-2.5-3.3-4.3-4c-1.9-0.8-4-0.8-5.9-0.2c-2,0.6-3.7,1.9-4.8,3.7l0,0c-0.3,0.4-0.8,0.5-1.2,0.3
                                    C49.4,48,49.3,47.5,49.5,47.1z"/>
                            </g>
                            <circle class="st3" cx="58.6" cy="52.2" r="4.8"/>
                            <g>
                                <path class="st4" d="M32.5,16.1c-2.7,0.7-5.3,0.7-8,0.6c-2.7,0-5.3-0.1-8-0.1c-2.7-0.1-5.3-0.1-8-0.2c-2.7-0.1-5.3-0.2-8-0.4
                                    c-0.2,0-0.4-0.2-0.4-0.5c0-0.2,0.2-0.4,0.4-0.4c2.7-0.2,5.3-0.3,8-0.4c2.7-0.1,5.3-0.2,8-0.2c2.7-0.1,5.3-0.1,8-0.1
                                    c2.7,0,5.3,0,8,0.6c0.3,0.1,0.5,0.4,0.5,0.8C32.9,15.9,32.7,16.1,32.5,16.1z"/>
                            </g>
                            <g>
                                <path class="st4" d="M30.3,28c-1.5,0.5-3,0.5-4.5,0.5c-1.5,0-3,0-4.5-0.1c-1.5,0-3-0.1-4.5-0.2c-1.5-0.1-3-0.2-4.5-0.3
                                    c-0.4,0-0.7-0.4-0.7-0.8c0-0.4,0.3-0.6,0.7-0.7c1.5-0.1,3-0.2,4.5-0.3c1.5-0.1,3-0.1,4.5-0.2c1.5,0,3,0,4.5-0.1c1.5,0,3,0,4.5,0.5
                                    c0.4,0.1,0.6,0.6,0.5,1C30.7,27.7,30.5,27.9,30.3,28z"/>
                            </g>
                            <g>
                                <path class="st4" d="M29.3,39.3c-4.2,0.5-8.4,0.4-12.6,0.3c-2.1,0-4.2-0.1-6.3-0.2c-2.1-0.1-4.2-0.2-6.3-0.4
                                    c-0.3,0-0.5-0.3-0.5-0.6c0-0.3,0.2-0.5,0.5-0.5c2.1-0.2,4.2-0.3,6.3-0.4c2.1-0.1,4.2-0.2,6.3-0.2c4.2-0.1,8.4-0.2,12.6,0.3
                                    c0.5,0.1,0.8,0.5,0.8,1C30,38.9,29.7,39.2,29.3,39.3z"/>
                            </g>
                            <path class="st3" d="M114.9,15.8l-1.4,10.7c0,0.4,0.4,0.8,0.8,0.8h17.5c0.5,0,0.9-0.4,0.8-0.9l-1.3-10.7c-0.1-0.4-0.4-0.7-0.8-0.7
                                h-14.7C115.2,14.9,114.9,15.3,114.9,15.8z"/>
                        </g>
                    </svg>
                </div>
                <div class="features_info__heading">Доставка по всему узбекистану</div>
                <div class="features_info__text">Доставка практически во все города и регионы</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text_block">
        <div class="row">
            <div class="col-12">
                <div class="h2">
                    О нас
                </div>
                <p>
                    JD.com- крупнейшая китайская компания, занимающаяся электронной торговлей и коммерцией, расположенная в г. Пекин. JD.ru – это русскоязычная версия сайта JD.com.
                    JD.ru предлагает широкий ассортимент товаров по самым выгодным ценам! На нашем сайте вы найдете смартфоны, ноутбуки, смарт и бытовую технику для дома, одежду и аксессуары, детские игрушки и многое другое!
                    Будучи крупнейшей компанией в сфере электронной торговли и коммерции в Китае, JD.com предлагает совершенно инновационное видение онлайн-шоппинга для своих пользователей, число которых сейчас составляет около 200 миллионов человек.
                </p>
            </div>
        </div>
    </div>

    <div class="container subscribeBlock">
        <div class="row">
            <div class="col-lg-5 mx-auto text-center">
                <div class="subscribeBlock__image"><img src="images/subscribe_pic.png" alt="Оставайтесь в курсе Скидок и поступлений новых товаров"></div>
                <h3>Оставайтесь в курсе Скидок и поступлений новых товаров</h3>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Введите Вашу Электронную почту"
                            aria-label="Введите Вашу Электронную почту" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Подписаться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <small>Нажимая «Подписаться», я соглашаюсь получать рекламные и иные маркетинговые сообщения от
                    «Concept Store» на <a href="#b">условиях Политики конфиденциальности</a> и <a href="#a">Пользовательского
                        соглашения</a>.</small>
            </div>
        </div>
    </div>


    {{> footer}}

    <div class="modal" id="testModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="simpleCloseButton _closeBtn" type="button" aria-label="Close" data-dismiss="modal">
                        <svg class="_closeBtn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="-174 83 16 16" style="enable-background:new -174 83 16 16;"
                            xml:space="preserve" width="20" height="20">
                            <path id="close-thin" d="M-173.5,83l15.5,15.5l-0.5,0.5L-174,83.5L-173.5,83z M-158.5,83l0.5,0.5L-173.5,99l-0.5-0.5 L-158.5,83z"></path>
                        </svg>
                    </button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>